.listcontainer {
    display: flex;
    flex-wrap: wrap;
}

.interv {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: var(--accent-color);
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-left: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    background-color: var(--alt2);
    min-width: fit-content;
    flex: 1;
}

.candidates {
    gap: 5px;
    width: 100%;
    min-width: fit-content;
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    color: var(--accent-color);
    max-height: 30vh;
    overflow-y: scroll;
    flex-grow: 1;
}

.candidates > h4:first-of-type {
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-weight: 700;
}

.managecandidate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e9ecef55;
    border-radius: 10px 10px 0 0;
    min-width: fit-content;
    gap: 0.5rem;
}

.current > .clickable {
    padding: 0.5rem 1rem;
    background-color: var(--alt2);
    border-radius: 10px;
    cursor: pointer;
}

.current > .clickable:active {
    background-color: #554693
}

.shy {
    display: none;
}

.current .shy {
    display: inline;
}

.current {
    /* background-color: var(--alt1); */
    background-color: var(--main-color);
}

.dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  width: 8vw;
  background-color: #dc3545;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}

.candidatebtn {
    width: 8vw;
    transition: 0.1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.current .candidatebtn {
    background-color: seagreen;
}

.current .candidatebtn:hover {
    background-color: rgba(0, 128, 0, 0.7);
}

.dropdown:hover .candidatebtn {
    border-radius: 10px 10px 0 0;
}

.dropdown-content .dropdown-item {
  padding: 6px 8px;
  display: block;
  background: none;
  min-width: fit-content;
  width: 100%;
}

.current.undergoing .candidatebtn, .cancelbtn {
    background-color: #dc3545;
}

.dropdown-content .dropdown-item:hover {
  backdrop-filter: brightness(80%);
}

.current.undergoing .candidatebtn:hover {
  background-color: #c82333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown > button {
    max-width: 100%;
}

.dropdown-item {
    max-width: 100%;
    border-radius: 0;
    margin: 0;
}

.stacked-button > button, .stacked-button > form > button {
    max-width: 100%;
}

.duration {
    white-space: nowrap;
}

.drag {
    cursor: pointer;
}

.current .drag {
    display: none;
}

.sortable-ghost {
    opacity: 0.5;
    background-color: var(--alt1);
}