{% extends "base.html" %}

{% block title %}Entretiens de l'événement{% endblock %}

{% block content %}
<h1 class="title">Entretiens lors de l'événement : {{ event.name_event }}</h1>

<div class="admin-section">
    <h2>Liste des entretiens</h2>
    {% if interviews %}
    <table>
        <thead>
            <tr>
                <th>Intervenant</th>
                <th>Candidat</th>
                <th>Durée de l'entretien</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for interview in interviews %}
            <tr>
                <td>{{ interview.name_participant }}</td>
                <td>{{ interview.name_candidate }} {{ interview.lastname_candidate }}</td>
                <td>{% if interview.duration_interview is not none %}{{ interview.duration_interview }}{% else %}&nbsp;{% endif %}</td>
                <td class="actionbtn">
                    <button onclick="openfeedbacks(this)" type="button" class="feedback-btn" data-feedback-candidate="{{ interview.feedback_candidate }}" data-feedback-participant="{{ interview.feedback_participant }}">
                        Voir les feedbacks
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun entretien trouvé pour cet événement.</p>
    {% endif %}

    <a href="{{ url_for('event.edit_event', id_event=event_id) }}">
        <button style="margin-top: 1rem;" type="button">Retour</button>
    </a>
</div>

<div id="feedbackModal" class="modal">
    <div class="modal-content">
        <i class="fa-regular fa-x close" onclick="toggleElement(this.parentElement.parentElement)"></i>
        <h2>Feedback de l'entretien</h2>
        <h3 id="partfeedtitle">Feedback de l'intervenant :</h3>
        <div class="feedb" id="participantFeedback"></div>
        <h3 id="candfeedtitle">Feedback du candidat :</h3>
        <div class="feedb" id="candidateFeedback"></div>
    </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("feedbackModal");

function openfeedbacks(el) {
    var participantFeedbackEl = document.getElementById('participantFeedback');
    var candidateFeedbackEl = document.getElementById('candidateFeedback');
    var partfeedtitle = document.getElementById('partfeedtitle');
    var candfeedtitle = document.getElementById('candfeedtitle');
    var participantFeedback = el.getAttribute('data-feedback-participant');
    var candidateFeedback = el.getAttribute('data-feedback-candidate');

    if (participantFeedback === null) {
        participantFeedbackEl.style.display = 'none';
        partfeedtitle.style.display = 'none';
    } else {
        participantFeedbackEl.style.display = 'flex';
        partfeedtitle.style.display = 'block';
        mark(participantFeedbackEl, participantFeedback);
    }

    if (candidateFeedback === null) {
        candidateFeedbackEl.style.display = 'none';
        candfeedtitle.style.display = 'none';
    } else {
        candidateFeedbackEl.style.display = 'flex';
        candfeedtitle.style.display = 'block';
        mark(candidateFeedbackEl, candidateFeedback);
    }

    if (candidateFeedback === null && participantFeedback === null) {
        popup('info', 'Aucun feedback n\'a été enregistré pour cet entretien');
    } else {
        toggleElement(modal);
    }
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        toggleElement(modal);
    }
}
</script>

{% endblock %}