{% extends "base.html" %}

{% block title %}Admin - Gérer Événement{% endblock %}

{% block content %} 
<div class="tableContent">
    <h1 style="padding: 0.5rem">Gérer les Événements</h1>
    <h2 style="padding-left: 0.5rem;" id="loading">Chargement...</h2>
    <div class="tabmanagment" style="display: none;">

        <div class="sideItemList">
            <button class="listbtn" onclick="showNew()"><i class="fa-regular fa-calendar-circle-plus"></i> Créer un Événement</button>
            <button class="listbtn" onclick="loadData()"><i class="fa-regular fa-rotate-right"></i> Recharger la liste</button>
        </div>

        <div class="resizer" id="resizer"></div>

        <div class="infoeditor">
            <form id="candform" style="display: none;">
                <label for="name_event">Nom :</label>
                <input type="text" id="name_event" name="name_event" value="">
    
                <label for="date_event">Date :</label>
                <input type="date" id="date_event" name="date_event" value="">
    
                <label for="start_time_event">Heure de début :</label>
                <input type="time" id="start_time_event" name="start_time_event" value="">
    
                <label for="end_time_event">Heure de fin :</label>
                <input type="time" id="end_time_event" name="end_time_event" value="">
    
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <button id="confirmbtn" onclick="done(event)"><i class="fa-regular fa-save"></i> Enregistrer</button>
                        <button class="delete"><i class="fa-regular fa-trash"></i> Supprimer</button>
                    </div>
                    <div class="actionsbttn">
                        <button onclick="downloadpdf(e)"><i class="fa-regular fa-file-arrow-down"></i> Télécharger le résumé</button>
                        <button onclick="getPartdatas(event, document.querySelector('#id_event').value)"><i class="fa-regular fa-user"></i> Gérer les participants</button>
                        <button class="openmanagewaitlist"><i class="fa-regular fa-edit"></i> Editer la liste</button>
                        <button class="openlist"><i class="fa-regular fa-external-link"></i> Voir la liste</button>
                    </div>
                </div>

                <input type="hidden" id="id_event" name="id_event" value="">
                <input type="hidden" id="tags" name="tags" value="">
            </form>

            <div class="sectionmanagetag">
                <div class="sectionremovetags"></div>
                <div class="sectionaddtags"></div>
            </div>

            <div class="listsection" display="none">
                <h2>Historique des entretiens passé</h2>
                <h3>Aucun entretiens trouvé</h3>
                <div class="tablewrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Candidat</th>
                                <th>Intervenant</th>
                                <th>Durée de l'entretien</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" class="managecontent">
    <div style="display: flex; align-items: center; padding: 0.5rem;">
        <button style="height: fit-content;" onclick="document.querySelector('.managecontent').style.display = 'none'; document.querySelector('.tableContent').style.display = 'flex';">
            <i class="fa-regular fa-arrow-left"></i> Retour
        </button>

        <h1 style="flex-grow: 1;" class="title">Chargement...</h1>
    </div>


    <div class="tagnform">

        <div class="tag-section">
            <h2>Filtrer par tags</h2>
            <div class="tag-selector">
                <div class="tagfilter selectag" id="attend">
                    <i class="fa-regular fa-tag"></i>
                    <p>Participants</p>
                </div>
            </div>
        </div>

        <div class="table-sections">
            <div class="listsection interves">
                <h2>Ajouter des Intervenants</h2>
                <div class="tablewrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            
            <div class="listsection cand">
                <h2>Ajouter des Candidats</h2>
                <div class="tablewrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Poids</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <button onclick="submitparts()" id="submit">Ajouter les participants</button>

        </div>
    </div>
</div>

<div class="managewaitlist">
    <div style="display: flex; align-items: center; padding: 0.5rem;">
        <button style="height: fit-content;" onclick="document.querySelector('.managewaitlist').style.display = 'none'; document.querySelector('.tableContent').style.display = 'flex';">
            <i class="fa-regular fa-arrow-left"></i> Retour
        </button>

        <h1 style="flex-grow: 1;" class="title">Gerer la liste d'attente</h1>
    </div>

    <div class="list"></div>
    <button style="margin: 0 auto;" onclick="submitwaitlist()"><i class="fa-regular fa-plus"></i> Ajouter à la liste d'attente</button>
</div>

<div id="feedbackModal" class="modal">
    <div class="modal-content">
        <i class="fa-regular fa-x close" onclick="toggleElement(this.parentElement.parentElement)"></i>
        <h2>Feedback de l'entretien</h2>
        <h3 id="partfeedtitle">Feedback de l'intervenant :</h3>
        <div class="feedb" id="participantFeedback"></div>
        <h3 id="candfeedtitle">Feedback du candidat :</h3>
        <div class="feedb" id="candidateFeedback"></div>
    </div>
</div>

<script>
let AllTags = null;
let selectedTags = [];

function getPartdatas(e, id_event) {
    e.preventDefault();
    fetch("{{ url_for('api.manage_event_participants_api') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({'id_event': id_event})
    }).then(response => {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la récupération des données');
                throw new Error('Network response was not ok');
            }
            return response.json();
    }).then(data => {
        buildManagePart(data);
    }).catch(error => {
        popup("danger", "Une erreur est survenue lors du chargement des données.");
        console.error(error);
    })
}

function loadData() {
    document.querySelector('#candform').style.display = 'none';
    document.querySelector('.sectionmanagetag').style.display = 'none';
    document.querySelector('.listsection').style.display = 'none';
    document.querySelectorAll('.itemlist').forEach(item => item.remove());
    document.querySelectorAll('.sectionaddtags button').forEach(tag => tag.remove());
    document.querySelectorAll('.sectionremovetags button').forEach(tag => tag.remove());
    fetch('{{ url_for('api.get_tags') }}')
        .then(response => {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la récupération des données');
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(datas => {
            AllTags = datas;
        })
        .catch(error => {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            console.error('Error:', error);
        });
    fetch('{{ url_for('api.get_events') }}')
        .then(response => {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la récupération des données');
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(datas => {
            buildManagement(datas, AllTags);
        })
        .catch(error => {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            console.error('Error:', error);
        });
}

function submitwaitlist(){
    let datas = {
        "id_event": document.querySelector('#id_event').value,
        "participants": []
    };

    let columns = document.querySelectorAll('.column');
    columns.forEach(column => {
        let participant = column.querySelector('.interv').textContent;
        let participantId = column.querySelector('.interv').htmlFor.replace('part', '');
        let selectedCandidates = column.querySelectorAll('.listopts option:checked');
        let candidateIds = [];
        selectedCandidates.forEach(candidate => {
            candidateIds.push(candidate.value.replace('cand', ''));
        });
        datas.participants.push({
            "id_participant": participantId,
            "candidates": candidateIds
        });
    });

    console.log(datas);

    fetch("{{ url_for('api.process_event_waitlist') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(datas)
    }).then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de l\'ajout des participants');
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        popup('success', 'Les participants ont été ajoutés avec succès');
    }).catch(error => {
        popup("danger", "Une erreur est survenue lors de l'ajout des participants.");
        console.error(error);
    });
}

function getwaitlistdata(event){
    fetch("{{ url_for('api.manage_event_participants_api') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({'id_event': event.id_event})
    })
    .then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        buildManageWaitlist(data, event);
    })
    .catch(error => {
        popup("danger", "Une erreur est survenue lors du chargement des données.");
        console.error(error);
    });
}

function buildManageWaitlist(datas, event) {
    document.querySelector('.list').innerHTML = '';
    for (let participant of datas.participants) {
        if (participant.attends) {
            let column = document.createElement('div');
            column.classList.add('column');
            let label = document.createElement('label');
            label.htmlFor = `part${participant.id_participant}`;
            label.textContent = participant.name_participant;
            label.classList.add('interv');
            column.appendChild(label);
            let select = document.createElement('select');
            select.style.overflowX = 'scroll';
            select.name = `part${participant.id_participant}`;
            select.id = `part${participant.id_participant}`;
            select.multiple = true;
            select.classList.add('listopts');
            select.size = 6;
            for (let candidate of datas.candidates) {
                if (candidate.attends) {
                    let option = document.createElement('option');
                    option.classList.add('listopt');
                    option.value = `cand${candidate.id_candidate}`;
                    if (event.interviews.some(interview => interview.id_participant === participant.id_participant && interview.id_candidate === candidate.id_candidate)) {
                        option.selected = true;
                    }
                    option.textContent = `${candidate.lastname_candidate} ${candidate.name_candidate}`;
                    select.appendChild(option);
                }
            }
            column.appendChild(select);
            document.querySelector('.list').appendChild(column);
        }
    }
    if (document.querySelector('.list').children.length === 0) {
        popup('info', 'Aucun participant n\'a été trouvé pour cet événement');
    } else {
        let options = [].slice.call(document.querySelectorAll(`.listopt`));
        options.forEach(function (element) {
            element.addEventListener("mousedown", 
                function (e) {
                    e.preventDefault();
                    element.parentElement.focus();
                    this.selected = !this.selected;
                    return false;
                }, false );
        });
        document.querySelector('.tableContent').style.display = 'none';
        document.querySelector('.managewaitlist').style.display = 'flex';
    }
}

function buildManagePart(datas) {
    let tagSelector = document.querySelector(".tag-selector");
    let intervList = document.querySelector(".interves tbody");
    let candList = document.querySelector(".cand tbody");
    tagSelector.innerHTML = "";
    intervList.innerHTML = "";
    candList.innerHTML = "";

    for (let participant of datas.participants) {
        let tr = document.createElement("tr");
        tr.id = `${participant.id_participant}`;
        tr.innerHTML = `
            <td>${participant.name_participant}</td>
            <td>${participant.email_participant}</td>
            <td>
                <input class="checkbox" type="checkbox" ${participant.attends ? "checked" : ""}>
            </td>
        `;
        intervList.appendChild(tr);
    }

    for (let candidate of datas.candidates) {
        let tr = document.createElement("tr");
        for (let tag of candidate.tags) {
            tr.classList.add(`tag-${tag.id_tag}`);
        }
        tr.id = `${candidate.id_candidate}`;
        tr.style.display = "none";
        tr.innerHTML = `
            <td>${candidate.lastname_candidate}</td>
            <td>${candidate.name_candidate}</td>
            <td>
                <input type="number" value="${candidate.priority}" min="1" max="100">
            </td>
            <td>
                <input class="checkbox" type="checkbox" ${candidate.attends ? "checked" : ""}>
            </td>
        `;
        candList.appendChild(tr);
    }

    for (let tag of datas.tags) {
        let tagDiv = document.createElement("div");
        tagDiv.classList.add("tagfilter");
        if (datas.event.tags.some(eventTag => eventTag.id_tag === tag.id_tag)) {
            tagDiv.classList.add("selectag");
            selectedTags.push(tag.id_tag);
            // Make the class tag-{ tag.id_tag } visible
            let tagElements = document.querySelectorAll(`.tag-${tag.id_tag}`);
            tagElements.forEach(tagElement => {
                tagElement.style.display = "table-row";
                let checkbox = tagElement.querySelector('input[type=checkbox]');
                if (checkbox) {
                    checkbox.checked = true;
                }
            });
        } else {
            // Make the class tag-{ tag.id_tag } invisible
            let tagElements = document.querySelectorAll(`.tag-${tag.id_tag}`);
            tagElements.forEach(tagElement => {
                tagElement.style.display = "none";
            });
        }
        tagDiv.id = tag.id_tag;
        tagDiv.innerHTML = `
            <i class="fa-regular fa-tag"></i>
            <p>${tag.name_tag}</p>
        `;
        tagSelector.appendChild(tagDiv);
    }

    let tags = document.querySelectorAll(".tagfilter");
    tags.forEach(tag => {
        tag.addEventListener("click", () => {
            toggletag(tag);
        });
    });

    let title = document.querySelector(".title");
    title.textContent = `Gérer les participants pour l'événement: ${datas.event.name_event}`;
    document.querySelector('.managecontent').style.display = 'flex';
    document.querySelector('.tableContent').style.display = 'none';
}

function toggletag(tag) {
    let enabled = tag.classList.toggle("selectag");
    if (Number.isInteger(parseInt(tag.id))) {
        if (enabled) {
            selectedTags.push(parseInt(tag.id));
        } else {
            selectedTags = selectedTags.filter(function(id) {
                return id !== parseInt(tag.id);
            });
        }
    }

    let allTagElements = document.querySelectorAll(".cand tbody tr");
    allTagElements.forEach(tagElement => {
        const noTagSelected = selectedTags.length === 0;
        const hasAllSelectedTags = selectedTags.some(selectedTag => tagElement.classList.contains(`tag-${selectedTag}`));
        const isChecked = tagElement.querySelector(".checkbox").checked;
        const isAttendSelected = document.querySelector('#attend').classList.contains("selectag");

        const isActive = hasAllSelectedTags || (isChecked && isAttendSelected) || noTagSelected;
        tagElement.style.display = isActive ? "table-row" : "none";
    });
}

function submitparts(id_event) {
    datas = {
        "id_event": id_event,
        "participants": [],
        "candidates": []
    };

    let intervList = document.querySelectorAll(".interv tbody tr");
    intervList.forEach(interv => {
        let id = parseInt(interv.id);
        let attends = interv.querySelector(".checkbox").checked;
        datas.participants.push({
            "id_participant": id,
            "attends": attends
        });
    });

    let candList = document.querySelectorAll(".cand tbody tr");
    candList.forEach(cand => {
        let id = parseInt(cand.id);
        let attends = cand.querySelector(".checkbox").checked;
        let priority = parseInt(cand.querySelector("input[type=number]").value);
        datas.candidates.push({
            "id_candidate": id,
            "attends": attends,
            "priority": priority
        });
    });

    fetch("{{ url_for('api.process_event_participants') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(datas)
    }).then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de l\'ajout des participants');
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        popup('success', 'Les participants ont été ajoutés avec succès');
    }).catch(error => {
        popup("danger", "Une erreur est survenue lors de l'ajout des participants.");
        console.error(error);
    });
}


function showInfos(infos) {
    document.querySelector('#name_event').value = infos.name_event;
    document.querySelector('#date_event').value = infos.date_event;
    document.querySelector('#start_time_event').value = infos.start_time_event;
    document.querySelector('#end_time_event').value = infos.end_time_event;
    document.querySelector('#id_event').value = infos.id_event;
    document.querySelector('.actionsbttn').style.display = 'flex';
    document.querySelector('#tags').value = JSON.stringify(infos.tags);
    document.querySelector('#confirmbtn').innerHTML = '<i class="fa-regular fa-save"></i> Enregistrer';
    document.querySelector('#candform').style.display = 'flex';
    document.querySelector('.sectionmanagetag').style.display = 'flex';
    document.querySelector('.delete').onclick = function() {
        deleteType('event', infos.id_event, event);
        showNew();
    };
    document.querySelector('.delete').style.display = 'inline';
    document.querySelector('.sectionremovetags').innerHTML = '';
    document.querySelector('.sectionaddtags').innerHTML = '';
    document.querySelector('.openlist').onclick = function(event) {
        event.preventDefault();
        window.open('/list/' + infos.id_event + '/manage', '_blank');
    };
    document.querySelector('.openmanagewaitlist').onclick = function(event) {
        event.preventDefault();
        getwaitlistdata(infos);
    }
    infos.tags.forEach(tag => {
        let tagButton = document.createElement('button');
        tagButton.classList.add('remove-tag');
        tagButton.dataset.tagid = tag.id_tag;
        tagButton.innerHTML = `<i class="fa-regular fa-xmark"></i> ${tag.name_tag}`;
        tagButton.onclick = function() {
            removeTag(tag, this);
        };
        document.querySelector('.sectionremovetags').appendChild(tagButton);
    });
    AllTags.forEach(tag => {
        if (!infos.tags.some(userTag => userTag.id_tag === tag.id_tag)) {
            let tagButton = document.createElement('button');
            tagButton.classList.add('add-tag');
            tagButton.dataset.tagid = tag.id_tag;
            tagButton.innerHTML = `<i class="fa-regular fa-plus"></i> ${tag.name_tag}`;
            tagButton.onclick = function() {
                addTag(tag, this);
            };
            document.querySelector('.sectionaddtags').appendChild(tagButton);
        }
    });
    document.querySelector('.listsection table tbody').innerHTML = '';
    if (infos.interviews.length === 0) {
        document.querySelector('.listsection table').style.display = 'none';
        document.querySelector('.listsection h3').style.display = 'block';        
    } else {
        document.querySelector('.listsection table').style.display = 'table';
        document.querySelector('.listsection h3').style.display = 'none';
        infos.interviews.forEach(interview => {
            if (interview.happened || interview.feedback_participant || interview.feedback_candidate || interview.duration_interview || interview.end_time_interview || interview.start_time_interview) {
                let tr = document.createElement('tr');
                tr.innerHTML = `<td>${interview.name_candidate} ${interview.lastname_candidate}</td><td>${interview.name_participant}</td><td>${formatDuration(interview.duration_interview)}</td>`;
                let td = document.createElement('td');
                td.classList.add('actionbtn');
                let button = document.createElement('button');
                button.onclick = function() { openfeedback(this, interview); };
                button.classList.add('feedback-btn');
                button.innerHTML = 'Voir les feedbacks';
                td.appendChild(button);
                tr.appendChild(td);
                document.querySelector('.listsection table tbody').appendChild(tr);
            }
        });
    }
    document.querySelector('.listsection').style.display = 'flex';
}

function showNew() {
    document.querySelectorAll('.itemlist').forEach(item => { item.classList.remove('selected'); });
    document.querySelector('#name_event').value = '';
    document.querySelector('.listsection').style.display = 'none';
    document.querySelector('#date_event').value = '';
    document.querySelector('#start_time_event').value = '';
    document.querySelector('#end_time_event').value = '';
    document.querySelector('#id_event').value = '';
    document.querySelector('#tags').value = JSON.stringify([]);
    document.querySelector('#confirmbtn').innerHTML = '<i class="fa-regular fa-save"></i> Enregistrer';
    document.querySelector('#candform').style.display = 'flex';
    document.querySelector('.sectionmanagetag').style.display = 'flex';
    document.querySelector('.delete').style.display = 'none';
    document.querySelector('.sectionremovetags').innerHTML = '';
    document.querySelector('.listsection table tbody').innerHTML = '';
    document.querySelector('.sectionaddtags').innerHTML = '';
    document.querySelector('.actionsbttn').style.display = 'none';
    AllTags.forEach(tag => {
        let tagButton = document.createElement('button');
        tagButton.classList.add('add-tag');
        tagButton.dataset.tagid = tag.id_tag;
        tagButton.innerHTML = `<i class="fa-regular fa-plus"></i> ${tag.name_tag}`;
        tagButton.onclick = function() {
            addTag(tag, this);
        };
        document.querySelector('.sectionaddtags').appendChild(tagButton);
    });
}

function downloadpdf(e) {
    e.preventDefault();
    let id_event = document.querySelector('#id_event').value;
    fetch("{{ url_for('api.download_pdf') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({'id_event': id_event})
    }).then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            throw new Error('Network response was not ok');
        }
        return response.blob();
    }).then(blob => {
        const url = window.URL.createObjectURL(new Blob([blob]));
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', `resume_${id_event}.pdf`);
        document.body.appendChild(link);
        link.click();
        link.remove();
    }).catch(error => {
        popup("danger", "Une erreur est survenue lors du chargement des données.");
        console.error(error);
    });
}

function openfeedback(btn, inter) {
    let modal = document.querySelector('#feedbackModal');
    let participantFeedbackEl = modal.querySelector('#participantFeedback');
    let candidateFeedbackEl = modal.querySelector('#candidateFeedback');
    let partfeedtitle = modal.querySelector('#partfeedtitle');
    let candfeedtitle = modal.querySelector('#candfeedtitle');
    let participantFeedback = inter.feedback_participant;
    let candidateFeedback = inter.feedback_candidate;


    if (participantFeedback === null) {
        participantFeedbackEl.style.display = 'none';
        partfeedtitle.style.display = 'none';
    } else {
        participantFeedbackEl.style.display = 'flex';
        partfeedtitle.style.display = 'block';
        mark(participantFeedbackEl, participantFeedback);
    }

    if (candidateFeedback === null) {
        candidateFeedbackEl.style.display = 'none';
        candfeedtitle.style.display = 'none';
    } else {
        candidateFeedbackEl.style.display = 'flex';
        candfeedtitle.style.display = 'block';
        mark(candidateFeedbackEl, candidateFeedback);
    }

    if (candidateFeedback === null && participantFeedback === null) {
        popup('info', 'Aucun feedback n\'a été enregistré pour cet entretien');
    } else {
        toggleElement(modal);
    }
}

function buildManagement(datas, tags) {
    let sideItemList = document.querySelector('.sideItemList');
    num = 0;
    datas.forEach(event => {
        let item = document.createElement('div');
        item.classList.add('itemlist');
        item.onclick = function() { showInfos(event); this.classList.add('selected'); document.querySelectorAll('.itemlist').forEach(item => { if (item !== this) item.classList.remove('selected'); }); };
        item.id = `deleteElement-${event.id_event}-event`;
        item.innerHTML = `<i class="fa-regular fa-user"></i><p>${event.name_event}</p>`;
        sideItemList.appendChild(item);
        if (num === 0) item.click();
        num++;
    });
    document.querySelector('#loading').style.display = 'none';
    document.querySelector('.tabmanagment').style.display = 'flex';
}

function addTag(tag, button) {
    let tags = JSON.parse(document.querySelector('#tags').value);
    tags.push(tag);
    document.querySelector('#tags').value = JSON.stringify(tags);
    let tagButton = document.createElement('button');
    tagButton.classList.add('remove-tag');
    tagButton.dataset.tagid = tag.id_tag;
    tagButton.innerHTML = `<i class="fa-regular fa-xmark"></i> ${tag.name_tag}`;
    tagButton.onclick = function() {
        removeTag(tag, this);
    };
    document.querySelector('.sectionremovetags').appendChild(tagButton);
    if (button) button.remove();
}

function removeTag(tag, button) {
    let tags = JSON.parse(document.querySelector('#tags').value);
    tags = tags.filter(t => t.id_tag !== tag.id_tag);
    document.querySelector('#tags').value = JSON.stringify(tags);
    let tagButton = document.createElement('button');
    tagButton.classList.add('add-tag');
    tagButton.dataset.tagid = tag.id_tag;
    tagButton.innerHTML = `<i class="fa-regular fa-plus"></i> ${tag.name_tag}`;
    tagButton.onclick = function() {
        addTag(tag, this);
    };
    document.querySelector('.sectionaddtags').appendChild(tagButton);
    if (button) button.remove();
}

function done(e) {
    e.preventDefault();
    let event = {
        id_event: document.querySelector('#id_event').value,
        name_event: document.querySelector('#name_event').value,
        date_event: document.querySelector('#date_event').value,
        start_time_event: document.querySelector('#start_time_event').value,
        end_time_event: document.querySelector('#end_time_event').value,
        tags: JSON.parse(document.querySelector('#tags').value)
    };

    if (document.querySelector('#id_event').value != '') {
        url = '{{ url_for('api.update_api', type='event') }}';
    } else {
        url = '{{ url_for('api.add_api', type='event') }}';
    }

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(event)
    })
    .then(response => {
        if (!response.ok) {
            return response.json().then(data => {
                popup('danger', 'Une erreur est survenue lors de l\'enregistrement des données: ' + (data.message || 'Erreur inconnue'));
            });
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        popup('success', 'Événement enregistré avec succès');
        loadData();
    })
    .catch(error => {
        popup('danger', 'Une erreur est survenue lors de l\'enregistrement des données');
        console.error('Error:', error);
    });
}

modal = document.getElementById('feedbackModal');

window.onclick = function(e) {
    if (e.target == modal) {
        toggleElement(modal);
    }
}

loadData();
</script>
{% endblock %}