{% extends "base.html" %}

{% block title %}Admin - Gérer Étiquettes{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/manage_tag.css') }}">
<h1 class="title">Gérer les étiquettes</h1>

<div class="admin-section">
    <h2>Liste des étiquettes</h2>
    {% if tags %}
    <div class="taggrid">
        {% for tag in tags %}
        <div class="tagitem">
            <table>
                <tbody>
                    <tr>
                        <form action="{{ url_for('manage_tag.manage_tag') }}" method="post">

                            <input type="hidden" name="id_tag" value="{{ tag.id_tag }}">
                            <label for="tag_name">Nom :</label>
                            <input type="text" id="tag_name" name="tag_name" value="{{ tag.name_tag }}">

                            <div class="button-group">
                                <button type="submit">Enregistrer</button>
                        </form>

                        <form action="{{ url_for('manage_tag.delete_tag', id_tag=tag.id_tag) }}" method="post">
                                <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce tag ?');">Supprimer</button>
                            </div>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
        <div class="tagitem">
            <table>
                <tbody>
                    <tr>
                        <form action="{{ url_for('manage_tag.create_tag') }}" method="post">

                            {# <input type="hidden" name="id_tag" value="{{ tag.id_tag }}"> #}
                            <label for="tag_name">Nom :</label>
                            <input type="text" id="tag_name" name="tag_name">

                            <div class="button-group">
                                <button type="submit">Créer</button>
                            </div>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="tagitem">
        <form action="{{ url_for('manage_tag.create_tag') }}" method="post">

            <label for="tag_name">Nom :</label>
            <input type="text" id="tag_name" name="tag_name">

            <button type="submit">Créer</button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}