{% extends "base.html" %}

{% block title %}Liste{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/list.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.6/Sortable.js" integrity="sha512-wbxhPuCdD4/lneMQ7JYty2YytHYqNazZ5xNrzNESJ26aJ0rcUr+JK25SJW+wsc0iJf+jMk8Q4wfjSbBiG6+Mbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<h1 id="eventname" class="title"></h1>
<div class="listcontainer"></div>
<script>
let timers = {};
let busycandidates = {};

function loadData() {
    fetch('{{ url_for('api.get_list') }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: {{ id }} })
    })
    .then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(datas => {
      buildList(datas).then(() => {
        document.querySelectorAll('.undergoing .candidatebtn').forEach((btn) => {
          btn.click();
        });
      });
    })
    .catch(error => {
        popup('danger', 'Une erreur est survenue lors de la récupération des données');
        console.error('Error:', error);
    });   
}

function buildList(info) {
  document.querySelector('#eventname').textContent = info.name_event;
  const list = document.querySelector('.listcontainer');
  list.innerHTML = '';
  for (const [key, value] of Object.entries(info.interviews)) {
    const participant = document.createElement('div');
    participant.classList.add('column');
    participant.id = `participant-${key}`;
    h2 = document.createElement('h2');
    h2.classList.add('interv');
    h2.textContent = key;
    participant.appendChild(h2);
    const candidates = document.createElement('div');
    candidates.classList.add('candidates');
    for (const [keyaa, candidate] of Object.entries(value)) {
      const managecandidate = document.createElement('div');
      managecandidate.classList.add('managecandidate');
      managecandidate.classList.add(`cand-${candidate.id_candidate}`);
      if (keyaa == 0) {
        managecandidate.classList.add('current');
      }
      managecandidate.id = `interview-${candidate.id_interview}`;
      if (candidate.start_time_interview) {
        managecandidate.classList.add('undergoing')
        busycandidates[candidate.id_candidate] = candidate.id_interview;
      }

      /* Dropdown */
      const dropdown = document.createElement('div');
      dropdown.classList.add('dropdown');
        const candidatebtn = document.createElement('button');
        candidatebtn.innerHTML = `<i class="shy fa-regular fa-play"></i> ${candidate.name_candidate} ${candidate.lastname_candidate}`;
        candidatebtn.onclick = () => {
          startInterview(candidate, info.id_event, key);
        }
        candidatebtn.classList.add('candidatebtn');
          const dropdownContent = document.createElement('div');
          dropdownContent.classList.add('dropdown-content');
            const dropbtn1 = document.createElement('button');
            dropbtn1.type = 'submit';
            dropbtn1.classList.add('dropdown-item');
            dropbtn1.textContent = 'Supprimer cet entretien';
            dropbtn1.onclick = (event) => {
              deleteInterview(candidate.id_interview, event.target);
            }
            const dropbtn2 = document.createElement('button');
            dropbtn2.type = 'submit';
            dropbtn2.classList.add('dropdown-item');
            dropbtn2.textContent = 'Supprimer tous les entretiens de ce candidat';
            dropbtn2.onclick = () => {
              CandDelAllInterEvent(candidate.id_candidate, info.id_event);
            }
            dropdownContent.appendChild(dropbtn1);
            dropdownContent.appendChild(dropbtn2);
        dropdown.appendChild(candidatebtn);
        dropdown.appendChild(dropdownContent);
      managecandidate.appendChild(dropdown);
      /* End Dropdown */

      const duration = document.createElement('span');
      duration.id = `duration-${candidate.id_interview}`;
      duration.classList.add('duration');
      duration.innerHTML = '<i class="fa-regular fa-stopwatch"></i> 00:00';
      duration.title = 'Durée de l\'interview';
      duration.classList.add('shy');
      managecandidate.appendChild(duration);

      const nextButton = document.createElement('span');
      nextButton.innerHTML = '<i class="fa-regular fa-arrow-up-arrow-down"></i></i>';
      nextButton.title = 'Passer au candidat suivant';
      nextButton.onclick = (event) => NextCandidate(event, info.id_event, key);
      nextButton.classList.add('nextcancelbtn');
      nextButton.classList.add('clickable');
      nextButton.classList.add('shy');
      managecandidate.appendChild(nextButton);

      // add bars for drag and drop
      const drag = document.createElement('span');
      drag.innerHTML = '<i class="fa-regular fa-bars"></i>';
      drag.classList.add('drag');
      managecandidate.appendChild(drag);

      candidates.appendChild(managecandidate);
    }
    participant.appendChild(candidates);
    new Sortable(candidates,{
      animation: 150,
      handle: ".drag",
      draggable: ".managecandidate:not(.current)",
      easing: "cubic-bezier(1, 0, 0, 1)",

      	onEnd: function (evt) {
          if (evt.oldIndex == evt.newIndex) {
            return;
          }
          fetch('{{ url_for('api.move_interview') }}', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id_event: info.id_event, id_interview: evt.item.id.split('-')[1], new_index: evt.newIndex, name_participant: key })
          }).then(response => {
            if (!response.ok) {
              popup('danger', 'Une erreur est survenue lors de la récupération des données');
              throw new Error('Network response was not ok');
            }
            return response.json();
          }).catch(error => {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            console.error('Error:', error);
          });
	      },
    })
    list.appendChild(participant);
    EditDisableds();
  }
  return Promise.resolve();
}

function EditDisableds(){
  document.querySelectorAll('.candidatebtn').forEach((btn) => {
    btn.classList.add('disabled');
    btn.disabled = true;
  });
  document.querySelectorAll('.current .candidatebtn').forEach((btn) => {
    btn.classList.remove('disabled');
    btn.disabled = false;
  });
  updateBusy();
}

function updateBusy(){
  for (const [id_cand, id_inter] of Object.entries(busycandidates)) {
    document.querySelectorAll(`.cand-${id_cand}`).forEach((cand) => {
      if (cand.id.split('-')[1] != id_inter) {
        startbtn = cand.querySelector('.candidatebtn');
        startbtn.classList.add('disabled');
        startbtn.disabled = true;
      }
    });
  }
}

function removeBusy(id_cand){
  delete busycandidates[id_cand];
  document.querySelectorAll(`.cand-${id_cand}`).forEach((cand) => {
    startbtn = cand.querySelector('.candidatebtn');
    startbtn.classList.remove('disabled');
    startbtn.disabled = false;
  });
}

function startInterview(candidate, id_event, participant_name) {
  if (!candidate.start_time_interview) {
    startTime = new Date()
  } else {
    startTime = new Date(Date.parse(candidate.start_time_interview));
  }
  startCountdown(candidate.id_interview, startTime);
  busycandidates[candidate.id_candidate] = candidate.id_interview;
  EditDisableds();

  managecandidate = document.querySelector(`#interview-${candidate.id_interview}`)
  managecandidate.classList.add('undergoing');

  candidatebtn = document.querySelector(`#interview-${candidate.id_interview} .candidatebtn`);
  candidatebtn.innerHTML = `<i class="fa-regular fa-stop"></i> ${candidate.name_candidate} ${candidate.lastname_candidate}`;
  candidatebtn.onclick = () => {
    EndInterview(candidate.id_interview, participant_name, id_event, candidate);
  }

  nextcancelbtn = document.querySelector(`#interview-${candidate.id_interview} .nextcancelbtn`);
  nextcancelbtn.innerHTML = '<i class="fa-regular fa-xmark"></i>';
  nextcancelbtn.title = 'Annuler l\'interview';
  nextcancelbtn.classList.add('cancelbtn');
  nextcancelbtn.onclick = () => {
    cancelInterview(candidate, id_event, participant_name);
  }

  if (!candidate.start_time_interview){
    fetch('{{ url_for('api.start_interview') }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id_interview: candidate.id_interview, start_time: startTime, id_event: id_event })
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
          popup('danger', 'Une erreur est survenue lors de la récupération des données');
          const display = document.getElementById(`duration-${candidate.id_interview}`);
          clearInterval(timers[candidate.id_interview]);
          display.innerHTML = '<i class="fa-duotone fa-regular fa-stopwatch"></i> 00:00';
          delete timers[candidate.id_interview];
        }
    })
    .catch(error => {
        console.error('Error:', error);
        popup('danger', 'Une erreur est survenue lors de la récupération des données');
    });
  }
}

function CandDelAllInterEvent(id_candidate, id_event) {
  fetch('{{ url_for('api.CandDelAllInterEvent') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id_candidate: id_candidate, id_event: id_event })
  }).then(response => {
    if (!response.ok) {
      popup('danger', 'Une erreur est survenue lors de la récupération des données');
      throw new Error('Network response was not ok');
    }
    return response.json();
  }).then(data => {
    data.forEach((id_interview) => {
      const managecandidate = document.querySelector(`#interview-${id_interview}`);
      managecandidate.remove();
    });
    cands = document.querySelectorAll('.candidates');
    cands.forEach((cand) => {
      if (cand.children.length > 0) {
        cand.firstChild.classList.add('current');
      }
    });
    EditDisableds();
    popup('success', 'Entretiens supprimés');
  }).catch(error => {
    console.error('Error:', error);
    popup('danger', 'Une erreur est survenue lors de la récupération des données');
  });

}

function deleteInterview(id_interview, el) {
  fetch('{{ url_for('api.delete_api', type='interview') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id: id_interview })
  }).then(response => {
    if (!response.ok) {
      popup('danger', 'Une erreur est survenue lors de la récupération des données');
      throw new Error('Network response was not ok');
    }
    return response.json();
  }).then(data => {
    const managecandidate = el.parentElement.parentElement.parentElement;
    parent = managecandidate.parentElement;
    managecandidate.remove();
    if (parent.children.length > 0) {
      parent.firstChild.classList.add('current');
    }
    EditDisableds();
    popup('success', 'Entretien supprimé');
  }).catch(error => {
    console.error('Error:', error);
    popup('danger', 'Une erreur est survenue lors de la récupération des données');
  });
}

function startCountdown(id_interview, startTime) {
    const display = document.getElementById(`duration-${id_interview}`);
    timers[id_interview] = setInterval(() => {
        let now = new Date();
        let elapsed = new Date(now - startTime);
        let minutes = elapsed.getUTCMinutes();
        let seconds = elapsed.getUTCSeconds();
        display.innerHTML = `<i class="fa-duotone fa-regular fa-stopwatch"></i> ${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
    }, 1000);
}

function NextCandidate(event, id_event, participant_name) {
  event.preventDefault();
  fetch('{{ url_for('api.skip_candidate') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id_event: id_event, participant_name: participant_name })
  })
  .then(response => {
    if (!response.ok) {
      popup('danger', 'Une erreur est survenue lors de la récupération des données');
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(datas => {
    const current = document.querySelector(`#participant-${participant_name} .current`);
    current.classList.remove('current');
    const newCurrent = current.parentElement.children[1];
    newCurrent.classList.add('current');
    newCurrent.parentNode.prepend(newCurrent);
    EditDisableds();
  })
  .catch(error => {
    popup('danger', 'Une erreur est survenue lors de la récupération des données');
    console.error('Error:', error);
  });
}

function cancelInterview(candidate, id_event, participant_name) {
  fetch('{{ url_for('api.start_interview') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id_interview: candidate.id_interview, start_time: null, id_event: id_event })
  })
  .then(response => {
    if (!response.ok) {
      popup('danger', 'Une erreur est survenue lors de la récupération des données');
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(datas => {
    const display = document.getElementById(`duration-${candidate.id_interview}`);
    clearInterval(timers[candidate.id_interview]);
    display.innerHTML = '<i class="fa-duotone fa-regular fa-stopwatch"></i> 00:00';
    delete timers[candidate.id_interview];
    const managecandidate = document.querySelector(`#interview-${candidate.id_interview}`);
    managecandidate.classList.remove('undergoing');
    const candidatebtn = document.querySelector(`#interview-${candidate.id_interview} .candidatebtn`);
    candidatebtn.innerHTML = `<i class="fa-regular fa-play"></i> ${candidate.name_candidate} ${candidate.lastname_candidate}`;
    candidatebtn.onclick = () => {
      startInterview(candidate, id_event, participant_name);
    }
    const nextcancelbtn = document.querySelector(`#interview-${candidate.id_interview} .nextcancelbtn`);
    nextcancelbtn.innerHTML = '<i class="fa-regular fa-arrow-up-arrow-down"></i>';
    nextcancelbtn.title = 'Passer au candidat suivant';
    nextcancelbtn.classList.remove('cancelbtn');
    nextcancelbtn.onclick = (event) => NextCandidate(event, id_event, participant_name);
    removeBusy(candidate.id_candidate);
    EditDisableds();
  })
}

function EndInterview(id_interview, participant_name, id_event, candidate) {
  fetch('{{ url_for('api.end_interview') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id_interview: id_interview, id_event: id_event})
  })
  .then(response => {
    if (!response.ok) {
      popup('danger', 'Une erreur est survenue lors de la récupération des données');
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(datas => {
    clearInterval(timers[id_interview]);
    delete timers[id_interview];
    const managecandidate = document.querySelector(`#interview-${id_interview}`);
    managecandidate.remove();
    const participantcolumn = document.querySelector(`#participant-${participant_name} .candidates`);
    if (participantcolumn.children.length > 0) {
      participantcolumn.firstChild.classList.add('current');
    }
    removeBusy(candidate.id_candidate);
    EditDisableds();
  })
  .catch(error => {
    popup('danger', 'Une erreur est survenue lors de la récupération des données');
    console.error('Error:', error);
  });
}

loadData();

</script>
{% endblock %}