{% extends "base.html" %}

{% block title %}Admin - Gérer Base de Données{% endblock %}
{% block content %}
<div class="tableContent">
    <div class="dropzone" id="dropzone">
        <div class="importVisual">
            <i class="fa-regular fa-file-arrow-down"></i>
            <p>Glissez et déposez un fichier CSV ici</p>
        </div>
    </div>
    <h1 style="padding: 0.5rem">Gérer la base de données</h1>
    <div class="tabmanagment">
        <div class="sideItemList">
            <button class="listbtn" onclick="document.querySelector('#fileInput').click()"><i class="fa-regular fa-file-arrow-down"></i> Importer un CSV</button>
            <button class="listbtn" onclick="fetchArchives()"><i class="fa-regular fa-rotate-right"></i> Recharger la liste</button>
        </div>
        <div class="resizer" id="resizer"></div>
        <div class="infoeditor">
            <input type="file" onchange="ImportCSV(event)" hidden id="fileInput" accept=".csv">
            <div class="listsection">
                <h2 style="display: none;">Voir les données</h2>
                <div class="tablewrap" style="flex-grow: 1; display: none;">
                    <table style="height: fit-content;"><thead><tr></tr></thead><tbody></tbody></table>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <button class="archive" onclick="toggleElement(document.querySelector('#inputmodal'))" style="display: none;"><i class="fa-regular fa-box-archive"></i> Archiver</button>
                    <button class="backbtn" style="display: none;"><i class="fa-regular fa-arrow-left"></i> Retour</button>
                    <button class="submit" onclick="submit()" style="display: none;"><i class="fa-regular fa-check"></i> Confirmer</button>
                    <button class="delete" onclick="wipeCandidates()" style="display: none;"><i class="fa-regular fa-trash"></i> Supprimer les données liées aux candidats</button>
                </div>
                <div onclick="document.querySelector('#fileInput').click()" class="chosedata">
                    <i class="fa-regular fa-file-arrow-down"></i>
                    <h1>Choisir ou importer des données</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedbackModal" class="modal">
    <div class="modal-content">
        <i class="fa-regular fa-x close" onclick="toggleElement(this.parentElement.parentElement)"></i>
        <h2>Feedback de l'entretien</h2>
        <h3 id="partfeedtitle">Feedback de l'intervenant :</h3>
        <div class="feedb" id="participantFeedback"></div>
        <h3 id="candfeedtitle">Feedback du candidat :</h3>
        <div class="feedb" id="candidateFeedback"></div>
    </div>
</div>

<div id="inputmodal" class="modal">
    <div style="width: 30vw; min-width: fit-content;" class="modal-content">
        <i class="fa-regular fa-x close" onclick="toggleElement(this.parentElement.parentElement)"></i>
        <h2 id="intitle">Entrez un nom valide pour l'archive:</h2>
        <input id="infeild" type="text" id="inputfield" required>
        <button onclick="archiveschema(event)">Confirmer</button>
    </div>
</div>

<script>
let candidates = []
var modal = document.getElementById("feedbackModal");
var inputmodal = document.getElementById("inputmodal");

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        toggleElement(modal);
    }
    if (event.target == inputmodal) {
        toggleElement(inputmodal);
    }
}

function submit() {
    if (confirm("Êtes-vous sûr de vouloir importer ces données ?")) {
        fetch("{{ url_for('api.import_csv') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(candidates)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                popup('success', 'Les données ont été importées avec succès');
            } else {
                popup('danger', 'Une erreur s\'est produite lors de l\'importation des données');
            }
        })
        .catch(error => {
            popup('danger', 'Une erreur s\'est produite lors de l\'importation des données');
            console.error('Error:', error);
        });
    }
}

const dropzone = document.getElementById("dropzone");

document.addEventListener("dragover", (event) => {
    event.preventDefault();
    dropzone.classList.add("visible"); // Show dropzone when dragging over
    setTimeout(() => {
        dropzone.style.opacity = 1;
    }, 1);
});

dropzone.addEventListener("dragleave", (event) => {
    if (!dropzone.contains(event.relatedTarget)) {
        setTimeout(() => {
            dropzone.style.opacity = 0;
        }, 2);
        setTimeout(() => {
            dropzone.classList.remove("visible"); // Hide when dragging leaves window
        }, 251);
    }
});

dropzone.addEventListener("drop", (event) => {
    event.preventDefault();
    setTimeout(() => {
        dropzone.style.opacity = 0;
    }, 2);
    setTimeout(() => {
        dropzone.classList.remove("visible"); // Hide after dropping file
    }, 251);
    const file = event.dataTransfer.files[0];
    const fileInput = document.getElementById("fileInput");
    fileInput.files = event.dataTransfer.files;
    const changeEvent = new Event('change');
    fileInput.dispatchEvent(changeEvent); // Trigger change event
});

function ImportCSV(ev) {
    if (!ev.target.files[0] || !ev.target.files[0].name.endsWith(".csv")) {
        popup('danger', 'Le fichier doit être un fichier CSV');
        return;
    }
    const file = ev.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
        document.querySelectorAll('.itemlist').forEach(item => { item.classList.remove('selected'); });
        backBtn = document.querySelector(".listsection .backbtn");
        backBtn.style.display = "none";
        document.querySelector(".listsection .archive").style.display = "none";
        const data = e.target.result;
        const lines = data.split("\n");
        const headers = lines[0].split(",");
        const table = document.querySelector(".infoeditor table");
        const thead = table.querySelector("thead");
        const tbody = table.querySelector("tbody");

        // Clear existing table content
        thead.innerHTML = "";
        tbody.innerHTML = "";
        candidates = []

        // Populate headers
        const tr = document.createElement("tr");
        headers.forEach((header) => {
            const th = document.createElement("th");
            th.textContent = header;
            tr.appendChild(th);
        });
        thead.appendChild(tr);

        // Populate rows
        lines.slice(1).forEach((line) => {
            let cand = {};
            const tr = document.createElement("tr");
            const cells = line.match(/(".*?"|[^",\s]+)(?=\s*,|\s*$)/g);
            if (!cells) return;
            cells.forEach((cell, index) => {
                const td = document.createElement("td");
                td.textContent = cell.replace(/(^"|"$)/g, '');
                tr.appendChild(td);
                switch (index) {
                    case 0:
                        cand.lastname = cell.replace(/(^"|"$)/g, '');
                        break;
                    case 1:
                        cand.name = cell.replace(/(^"|"$)/g, '');
                        break;
                    case 2:
                        cand.email = cell.replace(/(^"|"$)/g, '');
                        break;
                    case 3:
                        cand.username = cell.replace(/(^"|"$)/g, '');
                        break;
                    case 4:
                        tags = cell.replace(/(^"|"$)/g, '');
                        cand.tags = tags.split(",");
                        break;
                    case 5:
                        cand.schoolyear = cell.replace(/(^"|"$)/g, '');
                }
            });
            tbody.appendChild(tr);
            candidates.push(cand);
            // Show table, button and h2 and then hide the h1
            document.querySelector(".listsection .tablewrap").style.display = "flex";
            document.querySelector(".listsection .submit").style.display = "block";
            document.querySelector(".listsection h2").style.display = "block";
            document.querySelector(".listsection .chosedata").style.display = "none";
            document.querySelector(".listsection .delete").style.display = "none";
        });
    };
    reader.readAsText(file);
}

function archiveschema(e) {
    e.preventDefault();
    toggleElement(inputmodal);
    let schemaName = document.getElementById("infeild").value;
    if (!schemaName) {
        popup('danger', 'Veuillez entrer un nom valide pour l\'archive');
        return;
    }
    schemaName = 'archive_' + schemaName.replace(/\s+/g, '_').replace(/[^\w]/g, '').toLowerCase();
    fetch("{{ url_for('api.archive_schema') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            target: schemaName
        })
    }).then(response => response.json())
        .then(data => {
            if (data.success) {
                popup('success', 'Les données ont été archivées avec succès');
                fetchArchives();
            } else {
                popup('danger', 'Une erreur s\'est produite lors de l\'archivage des données');
            }
        })
        .catch(error => {
            popup('danger', 'Une erreur s\'est produite lors de l\'archivage des données');
            console.error('Error:', error);
        });
}

// Fetch and display the list of archived schemas
function fetchArchives() {
    // Reset the table and sideItemList

    let sideItemList = document.querySelector('.sideItemList');
    const table = document.querySelector(".infoeditor table");
    const thead = table.querySelector("thead");
    const tbody = table.querySelector("tbody");
    sideItemList.innerHTML = `
        <button class="listbtn" onclick="document.querySelector('#fileInput').click()"><i class="fa-regular fa-file-arrow-down"></i> Importer un CSV</button>
        <button class="listbtn" onclick="fetchArchives()"><i class="fa-regular fa-rotate-right"></i> Recharger la liste</button>
    `;

    // Hide table

    document.querySelector(".listsection .tablewrap").style.display = "none";
    document.querySelector(".listsection h2").style.display = "none";
    document.querySelector(".listsection .chosedata").style.display = "flex";

    // Hide buttons

    document.querySelector(".listsection .archive").style.display = "none";
    document.querySelector(".listsection .delete").style.display = "none";
    document.querySelector(".listsection .backbtn").display = "none";
    document.querySelector(".listsection .submit").style.display = "none";

    // Clear existing table content
    thead.innerHTML = "";
    tbody.innerHTML = "";


    fetch("{{ url_for('api.get_archives') }}")
        .then(response => {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la récupération des données');
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            buildManagement(data);
        })
        .catch(error => {
            console.error('Error fetching archives:', error);
        });
}

function buildManagement(data) {
    backBtn = document.querySelector(".listsection .backbtn");
    backBtn.style.display = "none";
    document.querySelector(".listsection .archive").style.display = "none";
    document.querySelector(".listsection .delete").style.display = "none";
    let sideItemList = document.querySelector('.sideItemList');
    data.forEach(schema => {
        let item = document.createElement('div');
        item.classList.add('itemlist');
        item.onclick = function() { viewArchive(schema.candidates, this); this.classList.add('selected'); document.querySelectorAll('.itemlist').forEach(item => { if (item !== this) item.classList.remove('selected'); }); };
        item.innerHTML = `<i class="fa-regular fa-database"></i><p>${schema.schema_name}</p>`;
        sideItemList.appendChild(item);
    });
}

function viewArchive(archives, el) {
    backBtn = document.querySelector(".listsection .backbtn");
    backBtn.style.display = "none";
    document.querySelector(".listsection .submit").style.display = "none";
    const table = document.querySelector(".infoeditor table");
    const thead = table.querySelector("thead");
    const tbody = table.querySelector("tbody");

    if (el.querySelector('p').innerHTML.includes('public')) {
        document.querySelector(".listsection .archive").style.display = "block";
        document.querySelector(".listsection .delete").style.display = "";
    } else {
        document.querySelector(".listsection .archive").style.display = "none";
    }

    // Clear existing table content

    thead.innerHTML = "";
    tbody.innerHTML = "";

    // Populate headers

    const headers = ["Nom", "Prénom", "Email", "Tags", "Actions"];
    const tr = document.createElement("tr");
    headers.forEach((header) => {
        const th = document.createElement("th");
        th.textContent = header;
        tr.appendChild(th);
    });

    thead.appendChild(tr);

    // Populate rows

    archives.forEach((cand) => {
        const tr = document.createElement("tr");

        const lastnameTd = document.createElement("td");
        lastnameTd.textContent = cand.lastname_candidate;
        tr.appendChild(lastnameTd);

        const nameTd = document.createElement("td");
        nameTd.textContent = cand.name_candidate;
        tr.appendChild(nameTd);

        const emailTd = document.createElement("td");
        emailTd.textContent = cand.email_candidate;
        tr.appendChild(emailTd);

        const tagsTd = document.createElement("td");
        cand.tags.forEach(tag => {
            if (tag === "" || tag === null) return;
            const tagElement = document.createElement("p");
            tagElement.classList.add("display-tag");
            tagElement.textContent = tag.name_tag;
            tagsTd.appendChild(tagElement);
        });
        tr.appendChild(tagsTd);

        const actionTd = document.createElement("td");
        const button = document.createElement("button");
        button.textContent = "Voir Historique";

        button.onclick = () => {
            viewInterview(cand.interviews);
        };

        actionTd.appendChild(button);
        tr.appendChild(actionTd);
        tbody.appendChild(tr);

    });

    // Show table

    document.querySelector(".listsection .tablewrap").style.display = "flex";
    document.querySelector(".listsection h2").style.display = "block";
    document.querySelector(".listsection .chosedata").style.display = "none";
}

// Call fetchArchives on page load
document.addEventListener("DOMContentLoaded", function() {
    fetchArchives();
});

function viewInterview(interviews) {
    backBtn = document.querySelector(".listsection .backbtn");
    backBtn.style.display = "block";
    document.querySelector(".listsection .archive").style.display = "none";
    backBtn.onclick = () => {
        document.querySelector('.itemlist.selected').click();
    };
    const table = document.querySelector(".infoeditor table");
    const thead = table.querySelector("thead");
    const tbody = table.querySelector("tbody");

    // Clear existing table content

    thead.innerHTML = "";
    tbody.innerHTML = "";

    // Populate headers

    const headers = ["Événement", "Date", "Intervenant", "Actions"];
    const tr = document.createElement("tr");
    headers.forEach((header) => {
        const th = document.createElement("th");
        th.textContent = header;
        tr.appendChild(th);
    });

    thead.appendChild(tr);

// Filter interviews to include only those with "happened" set to true
    const filteredInterviews = interviews.filter(interview => interview.happened === true);

    if (filteredInterviews.length === 0) {
        const tr = document.createElement("tr");
        const td = document.createElement("td");
        td.colSpan = 4;
        td.textContent = "Aucun entretien trouvé.";
        tr.appendChild(td);
        tbody.appendChild(tr);
    } else {
        filteredInterviews.forEach(interview => {
            const tr = document.createElement("tr");

            const eventTd = document.createElement("td");
            eventTd.textContent = interview.event.name_event;
            tr.appendChild(eventTd);

            const dateTd = document.createElement("td");
            dateTd.textContent = interview.event.date_event;
            tr.appendChild(dateTd);

            const interviewerTd = document.createElement("td");
            interviewerTd.textContent = interview.participant.name_participant;
            tr.appendChild(interviewerTd);

            const actionTd = document.createElement("td");
            const button = document.createElement("button");
            button.textContent = "Voir Feedbacks";

            button.onclick = () => {
                openfeedbacks(interview.feedback_participant, interview.feedback_candidate);
            };

            actionTd.appendChild(button);
            tr.appendChild(actionTd);
            tbody.appendChild(tr);
        });
    }
}

function openfeedbacks(participantFeedback, candidateFeedback) {
    var participantFeedbackEl = document.getElementById('participantFeedback');
    var candidateFeedbackEl = document.getElementById('candidateFeedback');
    var partfeedtitle = document.getElementById('partfeedtitle');
    var candfeedtitle = document.getElementById('candfeedtitle');

    if (participantFeedback === null) {
        participantFeedbackEl.style.display = 'none';
        partfeedtitle.style.display = 'none';
    } else {
        participantFeedbackEl.style.display = 'flex';
        partfeedtitle.style.display = 'block';
        mark(participantFeedbackEl, participantFeedback);
    }

    if (candidateFeedback === null) {
        candidateFeedbackEl.style.display = 'none';
        candfeedtitle.style.display = 'none';
    } else {
        candidateFeedbackEl.style.display = 'flex';
        candfeedtitle.style.display = 'block';
        mark(candidateFeedbackEl, candidateFeedback);
    }

    if (candidateFeedback === null && participantFeedback === null) {
        popup('info', 'Aucun feedback n\'a été enregistré pour cet entretien');
    } else {
        toggleElement(modal);
    }
}

function wipeCandidates() {
    if (confirm("Êtes-vous sûr de vouloir supprimer les données liées aux candidats ? Cette action est irréversible.")) {
        fetch("{{ url_for('api.wipe_candidates') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                popup('success', 'Les données ont été supprimées avec succès');
                fetchArchives();
            } else {
                popup('danger', 'Une erreur s\'est produite lors de la suppression des données');
            }
        })
        .catch(error => {
            popup('danger', 'Une erreur s\'est produite lors de la suppression des données');
            console.error('Error:', error);
        });
    }
}

</script>
{% endblock %}