{% extends "base.html" %}

{% block title %}Admin - Gérer Employés{% endblock %}

{% block content %}
<div class="tableContent">
    <h1 style="padding: 0.5rem">Gérer les employés</h1>
    <h2 style="padding-left: 0.5rem;" id="loading">Chargement...</h2>
    <div class="tabmanagment" style="display: none;">

        <div class="sideItemList">
            <button class="listbtn" onclick="showNew()"><i class="fa-regular fa-user-plus"></i> Créer un employé</button>
            <button class="listbtn" onclick="loadData()"><i class="fa-regular fa-rotate-right"></i> Recharger la liste</button>
        </div>

        <div class="resizer" id="resizer"></div>

        <div class="infoeditor">
            <form id="candform" style="display: none;">
                <label for="employee_lastname">Nom :</label>
                <input type="text" id="employee_lastname" name="employee_lastname" value="" required>

                <label for="employee_name">Prénom :</label>
                <input type="text" id="employee_name" name="employee_name" value="" required>

                <label for="employee_email">E-mail :</label>
                <input type="email" id="employee_email" name="employee_email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="">

                <label for="employee_role">Rôle de l'employé.e :</label>
                <select id="role" name="role" required>
                    {% if user_role == 'superadmin' %}
                    <option value="superadmin">Superadmin</option>
                    <option value="admin">Admin</option>
                    <option value="employee" selected>Employé</option>
                    {% elif user_role == 'admin' %}
                    <option value="admin">Admin</option>
                    <option value="employee" selected>Employé</option>
                    {% elif user_role == 'employee' %}
                    <option value="employee" selected>Employé</option>
                    {% endif %}
                </select>

                <label for="password">Mot de passe :</label>
                <div class="editpass">
                    <div class="iconified-input">
                        <input type="password" id="password" name="password" value="">
                        <i onclick="showpass()" id="showpass" class="fa-regular fa-eye icon showpass"></i>
                    </div>
                    <button type="button" onclick="generatepass().then(pass => {document.getElementById('password').value = pass})"><i class="fa-regular fa-key"></i> Générer un mot de passe</button>
                </div>

                <div>
                    <button id="confirmbtn" onclick="done(event)"><i class="fa-regular fa-save"></i> Enregistrer</button>
                    <button class="delete"><i class="fa-regular fa-trash"></i> Supprimer</button>
                </div>

                <input type="hidden" id="id_employee" name="id_employee" value="">
                <input type="hidden" id="id_user" name="id_user" value="">
            </form>

            <div class="listsection" display="none">
                <h2>Liste des entretiens</h2>
                <h3>Aucun entretiens trouvé</h3>
                <div class="tablewrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Événement</th>
                                <th>Date</th>
                                <th>Candidat</th>
                                <th>Durée de l'entretien</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedbackModal" class="modal">
    <div class="modal-content">
        <i class="fa-regular fa-x close" onclick="toggleElement(this.parentElement.parentElement)"></i>
        <h2>Feedback de l'entretien</h2>
        <h3 id="empfeedtitle">Feedback de l'employé.e :</h3>
        <div class="feedb" id="employeeFeedback"></div>
        <textarea id="employeeFeedbackEdit" style="display: none;"></textarea>
        <h3 id="candfeedtitle">Feedback du candidat :</h3>
        <div class="feedb" id="candidateFeedback"></div>
        <textarea id="candidateFeedbackEdit" style="display: none;"></textarea>
        <button id="editFeedbackBtn" onclick="editFeedback()">Modifier</button>
        <button id="saveFeedbackBtn" style="display: none;" onclick="saveFeedback()">Enregistrer</button>
    </div>
</div>

<script>
function loadData() {
    document.querySelector('#candform').style.display = 'none';
    document.querySelector('.listsection').style.display = 'none';
    document.querySelectorAll('.itemlist').forEach(item => item.remove());
    fetch('{{ url_for('api.get_employees') }}')
        .then(response => {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la récupération des données');
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(datas => {
            buildManagement(datas);
        })
        .catch(error => {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            console.error('Error:', error);
        });
}

function showInfos(infos) {
    document.querySelector('#employee_lastname').value = infos.lastname_employee;
    document.querySelector('#employee_name').value = infos.name_employee;
    document.querySelector('#employee_email').value = infos.email_employee;
    document.querySelector('#username').value = infos.username;
    document.querySelectorAll('#role option').forEach(option => { if (option.value === infos.name_role) {option.selected = true;} });
    document.querySelector('#id_employee').value = infos.id_employee;
    document.querySelector('#password').value = '';
    document.querySelector('#id_user').value = infos.id_user;
    document.querySelector('#confirmbtn').innerHTML = '<i class="fa-regular fa-save"></i> Enregistrer';
    document.querySelector('#candform').style.display = 'flex';
    document.querySelector('.delete').onclick = function() {
        deleteType('employee', infos.id_employee, event);
        showNew();
    };
    document.querySelector('.delete').style.display = 'inline';
    document.querySelector('.listsection table tbody').innerHTML = '';
    if (infos.interviews.length === 0) {
        document.querySelector('.listsection table').style.display = 'none';
        document.querySelector('.listsection h3').style.display = 'block';
    } else {
        document.querySelector('.listsection table').style.display = 'table';
        document.querySelector('.listsection h3').style.display = 'none';
        infos.interviews.forEach(interview => {
            let tr = document.createElement('tr');
            tr.innerHTML = `<td>${interview.name_event}</td><td>${interview.date_event}</td><td>${interview.name_candidate}</td><td>${formatDuration(interview.duration_interview)}</td>`;
            let td = document.createElement('td');
            td.classList.add('actionbtn');
            let button = document.createElement('button');
            button.onclick = function() { openfeedback(this, interview); };
            button.classList.add('feedback-btn');
            button.innerHTML = 'Voir les feedbacks';
            td.appendChild(button);
            tr.appendChild(td);
            document.querySelector('.listsection table tbody').appendChild(tr);
            console.log(interview);
        });
    }
    document.querySelector('.listsection').style.display = 'flex';
}

function showNew() {
    document.querySelectorAll('.itemlist').forEach(item => { item.classList.remove('selected'); });
    document.querySelector('#employee_lastname').value = '';
    document.querySelector('.listsection').style.display = 'none';
    document.querySelector('#employee_name').value = '';
    document.querySelector('#employee_email').value = '';
    document.querySelector('#username').value = '';
    document.querySelectorAll('#role option').forEach(option => { if (option.value === 'employee') option.selected = true; });
    document.querySelector('#id_employee').value = '';
    document.querySelector('#password').value = '';
    document.querySelector('#id_user').value = '';
    document.querySelector('#confirmbtn').innerHTML = '<i class="fa-regular fa-save"></i> Enregistrer';
    document.querySelector('#candform').style.display = 'flex';
    document.querySelector('.delete').style.display = 'none';
    document.querySelector('.listsection table tbody').innerHTML = '';
}

function openfeedback(btn, inter) {
    let modal = document.querySelector('#feedbackModal');
    let employeeFeedbackEl = modal.querySelector('#employeeFeedback');
    let candidateFeedbackEl = modal.querySelector('#candidateFeedback');
    let employeeFeedbackEditEl = modal.querySelector('#employeeFeedbackEdit');
    let candidateFeedbackEditEl = modal.querySelector('#candidateFeedbackEdit');
    let editFeedbackBtn = modal.querySelector('#editFeedbackBtn');
    let saveFeedbackBtn = modal.querySelector('#saveFeedbackBtn');
    let empfeedtitle = modal.querySelector('#empfeedtitle');
    let candfeedtitle = modal.querySelector('#candfeedtitle');
    console.log(inter);
    let employeeFeedback = inter.feedback_employee;
    let candidateFeedback = inter.feedback_candidate;

    // Reset visibility of elements
    employeeFeedbackEl.style.display = 'none';
    candidateFeedbackEl.style.display = 'none';
    employeeFeedbackEditEl.style.display = 'none';
    candidateFeedbackEditEl.style.display = 'none';
    editFeedbackBtn.style.display = 'block';
    saveFeedbackBtn.style.display = 'none';

    if (employeeFeedback === null) {
        employeeFeedbackEl.style.display = 'none';
        empfeedtitle.style.display = 'none';
    } else {
        employeeFeedbackEl.style.display = 'flex';
        empfeedtitle.style.display = 'block';
        mark(employeeFeedbackEl, employeeFeedback);
    }

    if (candidateFeedback === null) {
        candidateFeedbackEl.style.display = 'none';
        candfeedtitle.style.display = 'none';
    } else {
        candidateFeedbackEl.style.display = 'flex';
        candfeedtitle.style.display = 'block';
        mark(candidateFeedbackEl, candidateFeedback);
    }
    toggleElement(modal);

    // Store the interview ID for saving later
    modal.dataset.interviewId = inter.id_interview;
}

function editFeedback() {
    let modal = document.querySelector('#feedbackModal');
    let employeeFeedbackEl = modal.querySelector('#employeeFeedback');
    let candidateFeedbackEl = modal.querySelector('#candidateFeedback');
    let employeeFeedbackEditEl = modal.querySelector('#employeeFeedbackEdit');
    let candidateFeedbackEditEl = modal.querySelector('#candidateFeedbackEdit');
    let editFeedbackBtn = modal.querySelector('#editFeedbackBtn');
    let saveFeedbackBtn = modal.querySelector('#saveFeedbackBtn');
    let empfeedtitle = modal.querySelector('#empfeedtitle');
    let candfeedtitle = modal.querySelector('#candfeedtitle');

    employeeFeedbackEl.style.display = 'none';
    candidateFeedbackEl.style.display = 'none';
    employeeFeedbackEditEl.style.display = 'block';
    candidateFeedbackEditEl.style.display = 'block';
    empfeedtitle.style.display = 'block';
    candfeedtitle.style.display = 'block';
    editFeedbackBtn.style.display = 'none';
    saveFeedbackBtn.style.display = 'block';
}

function saveFeedback() {
    let modal = document.querySelector('#feedbackModal');
    let employeeFeedbackEditEl = modal.querySelector('#employeeFeedbackEdit');
    let candidateFeedbackEditEl = modal.querySelector('#candidateFeedbackEdit');
    let editFeedbackBtn = modal.querySelector('#editFeedbackBtn');
    let saveFeedbackBtn = modal.querySelector('#saveFeedbackBtn');
    let interviewId = modal.dataset.interviewId;

    let employeeFeedbackData = {
        id_interview: interviewId,
        feedback: employeeFeedbackEditEl.value,
        type: 'employee'
    };

    let candidateFeedbackData = {
        id_interview: interviewId,
        feedback: candidateFeedbackEditEl.value,
        type: 'candidate'
    };

    Promise.all([
        fetch("{{ url_for('api.update_api', type='interview') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(employeeFeedbackData)
        }),
        fetch("{{ url_for('api.update_api', type='interview') }}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(candidateFeedbackData)
        })
    ]).then(responses => {
        for (let response of responses) {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la mise à jour des feedbacks');
                throw new Error('Network response was not ok');
            }
        }
        return Promise.all(responses.map(response => response.json()));
    }).then(data => {
        popup('success', 'Feedbacks mis à jour avec succès');
        toggleElement(modal);
        loadData();
    }).catch(error => {
        popup('danger', 'Une erreur est survenue lors de la mise à jour des feedbacks');
        console.error('Error:', error);
    });

    employeeFeedbackEditEl.style.display = 'none';
    candidateFeedbackEditEl.style.display = 'none';
    editFeedbackBtn.style.display = 'block';
    saveFeedbackBtn.style.display = 'none';
}

function buildManagement(datas) {
    let sideItemList = document.querySelector('.sideItemList');
    num = 0;
    datas.forEach(employee => {
        let item = document.createElement('div');
        item.classList.add('itemlist');
        item.onclick = function() { showInfos(employee); this.classList.add('selected'); document.querySelectorAll('.itemlist').forEach(item => { if (item !== this) item.classList.remove('selected'); }); };
        item.id = `deleteElement-${employee.id_employee}-employee`;
        item.innerHTML = `<i class="fa-regular fa-user"></i><p>${employee.name_employee} ${employee.lastname_employee}</p>`;
        sideItemList.appendChild(item);
        if (num === 0) item.click();
        num++;
    });
    document.querySelector('#loading').style.display = 'none';
    document.querySelector('.tabmanagment').style.display = 'flex';
}

function validateForm() {
    const lastname = document.getElementById('employee_lastname').value;
    const name = document.getElementById('employee_name').value;
    const email = document.getElementById('employee_email').value.toLowerCase();
    const emailPattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;

    if (!lastname) {
        popup('danger', 'Le nom est requis.');
        return false;
    }

    if (!name) {
        popup('danger', 'Le prénom est requis.');
        return false;
    }

    if (!email || !emailPattern.test(email)) {
        popup('danger', 'Un e-mail valide est requis.');
        return false;
    }

    return true;
}

function done(event) {
    event.preventDefault();
    if (!validateForm()) {
        return;
    }
    let employee = {
        id_employee: document.querySelector('#id_employee').value,
        id_user: document.querySelector('#id_user').value,
        lastname_employee: document.querySelector('#employee_lastname').value,
        name_employee: document.querySelector('#employee_name').value,
        email_employee: document.querySelector('#employee_email').value,
        username: document.querySelector('#username').value,
        password: document.querySelector('#password').value,
        name_role: document.querySelector('#role').value
    };

    let url = '';
    if (document.querySelector('#id_employee').value != '') {
        url = '{{ url_for('api.update_api', type='employee') }}';
    } else {
        url = '{{ url_for('api.add_api', type='employee') }}';
    }

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(employee)
    })
    .then(response => {
        if (!response.ok) {
            return response.json().then(data => {
                popup('danger', 'Une erreur est survenue lors de l\'enregistrement des données: ' + (data.message || 'Erreur inconnue'));
            });
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (!data || !data.success) {
            return;
        }
        popup('success', 'Employé enregistré avec succès');
        loadData();
    })
    .catch(error => {
        popup('danger', 'Une erreur est survenue lors de l\'enregistrement des données');
        console.error('Error:', error);
    });
}

modal = document.getElementById('feedbackModal');

window.onclick = function(event) {
    if (event.target == modal) {
        toggleElement(modal);
    }
}

loadData();
</script>
{% endblock %}