{% extends "base.html" %}

{% block title %}Gérer les participants{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/manage_event_participants.css') }}">
<div class="managecontent">
    <h1 class="title">Chargement...</h1>

    <div class="tagnform">

        <div class="tag-section">
            <h2>Filtrer par tags</h2>
            <div class="tag-selector">
                <div class="tagfilter selectag" id="attend">
                    <i class="fa-regular fa-tag"></i>
                    <p>Participants</p>
                </div>
            </div>
        </div>

        <div class="table-sections">
            <div class="listsection interv">
                <h2>Ajouter des Intervenants</h2>
                <div class="tablewrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            
            <div class="listsection cand">
                <h2>Ajouter des Candidats</h2>
                <div class="tablewrap">
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Poids</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <button onclick="submit()" id="submit">Ajouter les participants</button>

        </div>
    </div>
</div>

<script>
let selectedTags = [];

function buildListsAndTags(datas) {
    let tagSelector = document.querySelector(".tag-selector");
    let intervList = document.querySelector(".interv tbody");
    let candList = document.querySelector(".cand tbody");

    for (let participant of datas.participants) {
        let tr = document.createElement("tr");
        tr.id = `${participant.id_participant}`;
        tr.innerHTML = `
            <td>${participant.name_participant}</td>
            <td>${participant.email_participant}</td>
            <td>
                <input class="checkbox" type="checkbox" ${participant.attends ? "checked" : ""}>
            </td>
        `;
        intervList.appendChild(tr);
    }

    for (let candidate of datas.candidates) {
        let tr = document.createElement("tr");
        for (let tag of candidate.tags) {
            tr.classList.add(`tag-${tag.id_tag}`);
        }
        tr.id = `${candidate.id_candidate}`;
        tr.innerHTML = `
            <td>${candidate.lastname_candidate}</td>
            <td>${candidate.name_candidate}</td>
            <td>
                <input type="number" value="${candidate.priority}" min="1" max="100">
            </td>
            <td>
                <input class="checkbox" type="checkbox" ${candidate.attends ? "checked" : ""}>
            </td>
        `;
        candList.appendChild(tr);
    }

    for (let tag of datas.tags) {
        let tagDiv = document.createElement("div");
        tagDiv.classList.add("tagfilter");
        if (datas.event.tags.some(eventTag => eventTag.id_tag === tag.id_tag)) {
            tagDiv.classList.add("selectag");
            selectedTags.push(tag.id_tag);
            // Make the class tag-{ tag.id_tag } visible
            let tagElements = document.querySelectorAll(`.tag-${tag.id_tag}`);
            tagElements.forEach(tagElement => {
                tagElement.style.display = "table-row";
            });
        } else {
            // Make the class tag-{ tag.id_tag } invisible
            let tagElements = document.querySelectorAll(`.tag-${tag.id_tag}`);
            tagElements.forEach(tagElement => {
                tagElement.style.display = "none";
            });
        }
        tagDiv.id = tag.id_tag;
        tagDiv.innerHTML = `
            <i class="fa-regular fa-tag"></i>
            <p>${tag.name_tag}</p>
        `;
        tagSelector.appendChild(tagDiv);
    }

    let tags = document.querySelectorAll(".tagfilter");
    tags.forEach(tag => {
        tag.addEventListener("click", () => {
            toggletag(tag);
        });
    });

    let title = document.querySelector(".title");
    title.textContent = `Gérer les participants pour l'événement: ${datas.event.name_event}`;
}

function loadData() {
    fetch("{{ url_for('api.manage_event_participants_api_args') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({'id_event': {{ id_event }}})
    }).then(response => {
            if (!response.ok) {
                popup('danger', 'Une erreur est survenue lors de la récupération des données');
                throw new Error('Network response was not ok');
            }
            return response.json();
    }).then(data => {
        buildListsAndTags(data);
    }).catch(error => {
        popup("danger", "Une erreur est survenue lors du chargement des données.");
        console.error(error);
    })
}

function toggletag(tag) {
    let enabled = tag.classList.toggle("selectag");
    if (Number.isInteger(parseInt(tag.id))) {
        if (enabled) {
            selectedTags.push(parseInt(tag.id));
        } else {
            selectedTags = selectedTags.filter(function(id) {
                return id !== parseInt(tag.id);
            });
        }
    }

    let allTagElements = document.querySelectorAll(".cand tbody tr");
    allTagElements.forEach(tagElement => {
        const noTagSelected = selectedTags.length === 0;
        const hasAllSelectedTags = selectedTags.some(selectedTag => tagElement.classList.contains(`tag-${selectedTag}`));
        const isChecked = tagElement.querySelector(".checkbox").checked;
        const isAttendSelected = document.querySelector('#attend').classList.contains("selectag");
        console.log(hasAllSelectedTags, isChecked, isAttendSelected);

        const isActive = hasAllSelectedTags || (isChecked && isAttendSelected) || noTagSelected;
        tagElement.style.display = isActive ? "table-row" : "none";
    });
}

function submit() {
    datas = {
        "id_event": {{ id_event }},
        "participants": [],
        "candidates": []
    };

    let intervList = document.querySelectorAll(".interv tbody tr");
    intervList.forEach(interv => {
        let id = parseInt(interv.id);
        let attends = interv.querySelector(".checkbox").checked;
        datas.participants.push({
            "id_participant": id,
            "attends": attends
        });
    });

    let candList = document.querySelectorAll(".cand tbody tr");
    candList.forEach(cand => {
        let id = parseInt(cand.id);
        let attends = cand.querySelector(".checkbox").checked;
        let priority = parseInt(cand.querySelector("input[type=number]").value);
        datas.candidates.push({
            "id_candidate": id,
            "attends": attends,
            "priority": priority
        });
    });

    console.log(datas);
    fetch("{{ url_for('api.process_event_participants') }}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(datas)
    }).then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de l\'ajout des participants');
            throw new Error('Network response was not ok');
        }
        return response.json();
    }).then(data => {
        popup('success', 'Les participants ont été ajoutés avec succès');
    }).catch(error => {
        popup("danger", "Une erreur est survenue lors de l'ajout des participants.");
        console.error(error);
    });
}

loadData();
</script>

{% endblock %}