{% if session.token %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <nav>
        <ul class="navul">
            <li class="navli"><a class="navbtn" href="{{ url_for('settings.settings') }}"><i class="fa-regular fa-user"></i>{{ username }}</a></li>
            <li class="navli"><a class="navelm" href="{{ url_for('index.index') }}">Accueil</a></li>
            {% if session.token %}
                {% if user_role == 'employee' or user_role == 'admin' or user_role == 'superadmin' %}
                    {% if 'admin.dashboard.view.*' in permissions or 'admin.dashboard.view.employee' in permissions or '*' in permissions %}
                    <li class="navli"><a class="navelm" href="{{ url_for('manage_employee.manage_employee') }}">Employés</a></li>
                    {% endif %}
                    <li class="navli"><a class="navelm" href="{{ url_for('manage_candidate.manage_candidate') }}">Candidats</a></li>
                    <li class="navli"><a class="navelm" href="{{ url_for('manage_participant.manage_participant') }}">Intervenants</a></li>
                    <li class="navli"><a class="navelm" href="{{ url_for('manage_event.manage_event') }}">Événements</a></li>
                    <li class="navli"><a class="navelm" href="{{ url_for('manage_tag.manage_tag') }}">Étiquettes</a></li>
                    <li class="navli"><a class="navelm" href="{{ url_for('manage_database.manage_database') }}">Base de Données</a></li>
                {% elif user_role == 'candidate' or user_role == 'participant' %}
                    <li class="navli"><a class="navelm" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <ul class="navul">
        <li class="navli"><a title="Switch Theme" onclick="SwitchTheme()" class="ThemeSwitcher"><i class="fa-regular fa-sun-bright"></i></a></li>
        {% if session.token %}
        <li class="navli"><a class="navbtn" href="{{ url_for('auth.logout') }}"><button class="authbtn">Se Déconnecter</button></a></li>
        {% else %}
        <li class="navli"><a class="navbtn" href="{{ url_for('auth.login') }}"><button class="authbtn">Se Connecter</button></a></li>
        {% endif %}
       </ul>
    </nav>
    <div class="vdivider"></div>
{% endif %}