{% extends "base.html" %}

{% block title %}Accueil Admin{% endblock %}

{% block content %}
<h1 class="title">ADMIN</h1>

<div class="admin-container">

    <div class="admin-section">
        <h2>Gestion Employés</h2>
        <div class="admin-buttons">
            <a href="/admin/manage_employee">
                <button type="button">Gérer les employés</button>
            </a>
        </div>
    </div>

    <div class="admin-section">
        <h2>Gestion Candidats</h2>
        <div class="admin-buttons">
            <a href="/admin/manage_candidate">
                <button type="button">Gérer les candidats</button>
            </a>
        </div>
    </div>

    <div class="admin-section">
        <h2>Gestion Intervenants</h2>
        <div class="admin-buttons">
            <a href="/admin/manage_participant">
                <button type="button">Gérer les intervenants</button>
            </a>
        </div>
    </div>

    <div class="admin-section">
        <h2>Gestion Événements</h2>
        <div class="admin-buttons">
            <a href="/admin/create_event">
                <button type="button">Créer un événement</button>
            </a>
            <a href="/admin/manage_event">
                <button type="button">Gérer les événements</button>
            </a>
        </div>
    </div>

    <div class="admin-section">
        <h2>Gestion Tags</h2>
        <div class="admin-buttons">
            <a href="/admin/manage_tag">
                <button type="button">Gérer les tags</button>
            </a>
        </div>
    </div>

    <div class="admin-section">
        <h2>Gestion Base de données</h2>
        <div class="admin-buttons">
            <a href="/admin/manage_database">
                <button type="button">Gérer la base</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}