<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Waitlist{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/default.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/hltheme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% if request.path.startswith('/admin') %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    <script src="{{ url_for('static', filename='scripts/adminlib.js') }}"></script>
    {% endif %}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" defer></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="https://kit.fontawesome.com/a07d46abc4.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/purify.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/base.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/library.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.js"></script>
</head>
<body>
    <img class="background" src="https://files.catbox.moe/foa83u.webp">
    <div class="content">
        {% if parameters.navbar != 'false' %}
            {% include 'navbar.html' %}
        {% endif %}
        <div class="page">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

<script>
{% with messages = get_flashed_messages(True) %}
{% if messages %}
    {% for category, message in messages %}
        popup('{{ category }}', '{{ message }}');
    {% endfor %}
  {% endif %}
{% endwith %}
</script>
</html>