<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Waitlist{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% if request.path.startswith('/admin') %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
    {% endif %}
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js" defer></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="https://kit.fontawesome.com/a07d46abc4.js" crossorigin="anonymous"></script>
</head>
<body>
    {% with messages = get_flashed_messages(True) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
            console.log("{{ category }}: {{ message }}");
        </script>
            {% if category == 'success' %}
            <div class="popup fsuccess">
            {% elif category == 'danger' %}
            <div class="popup ferror">
            {% else %}
            <div class="popup">
            {% endif %}
                    <span class="popuptext">{{ message }}</span>
                </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if parameters.navbar != 'false' %}
        {% include 'navbar.html' %}
    {% endif %}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
