{% extends "base.html" %}

{% block title %}Admin - Modifier Candidat{% endblock %}

{% block content %}
<h1>Candidat : {{ candidate.name_candidate }} {{ candidate.lastname_candidate }}</h1>

<div class="manageinfos">
    <div class="admin-section">
        <h2>Modifier les informations du/de la candidat.e</h2>
        <form action="{{ url_for('candidate.edit_candidate', id_candidate=candidate.id_candidate) }}" method="post">
            <label for="candidate_lastname">Nom :</label>
            <input type="text" id="candidate_lastname" name="candidate_lastname" value="{{ candidate.lastname_candidate }}">

            <label for="candidate_name">Prénom :</label>
            <input type="text" id="candidate_name" name="candidate_name" value="{{ candidate.name_candidate }}">

            <label for="candidate_email">E-mail :</label>
            <input type="email" id="candidate_email" name="candidate_email" value="{{ candidate.email_candidate }}">

            <button type="button" onclick="newuser({{ candidate.id_candidate }}, '{{ rpassword }}')">Générer un mot de passe</button>

            <button type="submit">Enregistrer</button>
        </form>
    </div>

    <div class="admin-section">
        <h2>Tags du/de la candidat.e</h2>
        <div class="taglist">
            {% for tag in candidate_tags %}
                <form class="tagform" action="{{ url_for('candidate.remove_tag_candidate', id_candidate=candidate.id_candidate) }}" method="post" style="display:inline;">
                    <input type="hidden" name="tag" value="{{ tag.id_tag }}">
                    <button class="delete remove-tag" type="submit" name="remove_tag">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 0 1 1.414 0L10 8.586l4.293-4.293a1 1 0 1 1 1.414 1.414L11.414 10l4.293 4.293a1 1 0 0 1-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L8.586 10 4.293 5.707a1 1 0 0 1 0-1.414" clip-rule="evenodd"></path></svg>
                    {{ tag.name_tag }}
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>

    <div class="admin-section">
        <h2>Ajouter un tag</h2>
        <div class="taglist">
            {% for tag in tags %}
                <form class="tagform" action="{{ url_for('candidate.add_tag_candidate', id_candidate=candidate.id_candidate) }}" method="post" style="display: inline;">
                    {% if tag.id_tag not in candidate_tags|map(attribute='id_tag') %}
                    <input type="hidden" name="tag" value="{{ tag.id_tag }}">
                        <button class="add-tag" type="submit" name="add_tag">
                        <svg class="plussvg" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 0 1 1.414 0L10 8.586l4.293-4.293a1 1 0 1 1 1.414 1.414L11.414 10l4.293 4.293a1 1 0 0 1-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L8.586 10 4.293 5.707a1 1 0 0 1 0-1.414" clip-rule="evenodd"></path></svg>
                        {{ tag.name_tag }}
                        </button>
                    {% endif %}
                </form>
            {% endfor %}
        </div>
    </div>
</div>

<div class="admin-section">
    <h2>Liste des entretiens</h2>
    {% if interviews %}
    <table>
        <thead>
            <tr>
                <th>Événement</th>
                <th>Date</th>
                <th>Intervenant</th>
                <th>Durée de l'entretien</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for interview in interviews %}
            <tr>
                <td>{{ interview.name_event }}</td>
                <td>{{ interview.date_event }}</td>
                <td>{{ interview.name_participant }}</td>
                <td>{% if interview.duration_interview is not none %}{{ interview.duration_interview }}{% else %}&nbsp;{% endif %}</td>
                <td class="actionbtn">
                    <button type="button" class="feedback-btn" data-feedback-candidate="{{ interview.feedback_candidate }}" data-feedback-participant="{{ interview.feedback_participant }}">
                        Voir les feedbacks
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun entretien trouvé pour ce candidat.</p>
    {% endif %}
</div>

<div id="feedbackModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Feedback de l'entretien</h2>
        <p><strong>Feedback de l'intervenant :</strong></p>
        <p id="participantFeedback"></p>
        <p><strong>Feedback du candidat :</strong></p>
        <p id="candidateFeedback"></p>
    </div>
</div>

<div class="admin-section">
    <h2>Supprimer le/la candidat.e</h2>
    <form action="/admin/manage_candidate/{{ candidate.id_candidate }}/delete" method="post">
        <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce candidat ?');">Supprimer</button>
    </form>
</div>

<script>
// Get the modal
var modal = document.getElementById("feedbackModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
document.querySelectorAll('.feedback-btn').forEach(button => {
    button.onclick = function() {
        var participantFeedback = this.getAttribute('data-feedback-participant');
        var candidateFeedback = this.getAttribute('data-feedback-candidate');
        document.getElementById('participantFeedback').innerText = participantFeedback;
        document.getElementById('candidateFeedback').innerText = candidateFeedback;
        modal.style.display = "block";
    }
});

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

// When button is clicked generate new password for user
function newuser(id, password){
    fetch(`/register/candidate/${id}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            'password': password
        })
    })
    .then(() => {
        navigator.clipboard.writeText(password)
        .then(() => alert('Le nouveau mot de passe a été copié dans le presse-papiers.'))
        .catch(err => console.error('Erreur lors de la copie du mot de passe : ', err));
        setTimeout(() => {
            window.location.reload();
        }, 1000);
    })
}
</script>

{% endblock %}