{% extends "base.html" %}

{% block title %}Admin - Modifier Candidat{% endblock %}

{% block content %}
<h1>Candidat : {{ candidate.name_candidate }} {{ candidate.lastname_candidate }}
{# {% if  candidate.year_candidate %}
    {{ candidate.year_candidate }}
{%endif %}
{% if  candidate.class_candidate %}
    {{ candidate.class_candidate }}
{% endif %} #}
</h1>

<div class="admin-section">
    <h2>Modifier les informations du/de la candidat.e</h2>
    <form action="{{ url_for('candidate.edit_candidate', id_candidate=candidate.id_candidate) }}" method="post">
        <label for="candidate_lastname">Nom :</label>
        <input type="text" id="candidate_lastname" name="candidate_lastname" value="{{ candidate.lastname_candidate }}">

        <label for="candidate_name">Prénom :</label>
        <input type="text" id="candidate_name" name="candidate_name" value="{{ candidate.name_candidate }}">

        <label for="candidate_email">E-mail :</label>
        <input type="email" id="candidate_email" name="candidate_email" value="{{ candidate.email_candidate }}">

        {# <label for="candidate_year">Année :</label>
        <input type="text" id="candidate_year" name="candidate_year" value="{{ candidate.year_candidate if candidate.year_candidate else '' }}">

        <label for="candidate_class">Classe :</label>
        <input type="text" id="candidate_class" name="candidate_class" value="{{ candidate.class_candidate if candidate.class_candidate else '' }}"> #}

        <button type="submit">Enregistrer</button>
    </form>
</div>

<div class="admin-section">
    <h2>Liste des entretiens</h2>
    {% if interviews %}
    <table>
        <thead>
            <tr>
                <th>Événement</th>
                <th>Date</th>
                <th>Intervenant</th>
            </tr>
        </thead>
        <tbody>
            {% for interview in interviews %}
            <tr>
                <td>{{ interview.name_event }}</td>
                <td>{{ interview.date_event }}</td>
                <td>{{ interview.name_participant }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun entretien trouvé pour ce candidat.</p>
    {% endif %}
</div>

<div class="admin-section">
    <h2>Supprimer le/la candidat.e</h2>
    <form action="/admin/manage_candidate/{{ candidate.id_candidate }}/delete" method="post">
        <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce candidat ?');">Supprimer</button>
    </form>
</div>

{% endblock %}