{% extends "base.html" %}

{% block title %}Admin - Créer Intervenant{% endblock %}

{% block content %}
<h1>Créer un intervenant</h1>

<div class="admin-section">
    <h2>Informations de l'intervenant</h2>
    <form action="{{ url_for('create_participant.create_participant') }}" method="post">
        <label for="participant_name">Nom :</label>
        <input type="text" id="participant_name" name="participant_name">

        <label for="participant_email">E-mail :</label>
        <input type="email" id="participant_email" name="participant_email">

        <button type="submit">Créer</button>
    </form>
</div>

{% endblock %}