{% extends "base.html" %}

{% block title %}Admin - Modifier Employé{% endblock %}

{% block content %}
<h1>Employé.e : {{ employee.name_employee }} {{ employee.lastname_employee }}</h1>

<div class="manageinfos">
    <div class="admin-section">
        <h2>Modifier les informations de l'employé.e</h2>
        <form action="{{ url_for('employee.edit_employee', id_employee=employee.id_employee) }}" method="post">
            <label for="employee_lastname">Nom :</label>
            <input type="text" id="employee_lastname" name="employee_lastname" value="{{ employee.lastname_employee }}">

            <label for="employee_name">Prénom :</label>
            <input type="text" id="employee_name" name="employee_name" value="{{ employee.name_employee }}">

            <label for="employee_email">E-mail :</label>
            <input type="email" id="employee_email" name="employee_email" value="{{ employee.email_employee }}">

            <label for="employee_role">Rôle de l'employé.e :</label>
            <select id="role" name="role" required>
                {% if user_role == 'superadmin' %}
                <option value="superadmin" {% if employee_role == 'superadmin' %}selected{% endif %}>Superadmin</option>
                <option value="admin" {% if employee_role == 'admin' %}selected{% endif %}>Admin</option>
                <option value="employee" {% if employee_role == 'employee' %}selected{% endif %}>Employé</option>
                {% elif user_role == 'admin' %}
                <option value="admin" {% if employee_role == 'admin' %}selected{% endif %}>Admin</option>
                <option value="employee" {% if employee_role == 'employee' %}selected{% endif %}>Employé</option>
                {% elif user_role == 'employee' %}
                <option value="employee" {% if employee_role == 'employee' %}selected{% endif %}>Employé</option>
                {% endif %}
            </select>

            {% if 'admin.edit.employee.password' in perms %}
                <label for="password">Mot de passe :</label>
                <div class="editpass">
                    <div class="iconified-input">
                        <input type="password" id="password" name="password" value="">
                        <i onclick="showpass()" id="showpass" class="fa-regular fa-eye icon showpass"></i>
                    </div>
                    <button type="button" onclick="generatepass()">Générer un mot de passe</button>
                </div>
            {% endif %}

            <div>
                <button type="submit">Enregistrer</button>
                <form action="/admin/manage_employee/{{ employee.id_employee }}/delete" method="post">
                    <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce candidat ?');">Supprimer</button>
                </form>
            </div>
        </form>
    </div>

<script>
// Get password input element
var passwordInput = document.getElementById('password');

function generatepass() {
    // Generate random password min 12 characters max 24 characters with at least one uppercase letter, one lowercase letter, one number and one special character
    var password = '';
    var uppercase = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var lowercase = 'abcdefghijklmnopqrstuvwxyz';
    var numbers = '0123456789';
    var special = '!@#$%^&*()_+~`|}{[]\\:;?><,./-=';
    var all = uppercase + lowercase + numbers + special;
    var length = Math.floor(Math.random() * (24 - 8 + 1)) + 12;
    for (var i = 0; i < length; i++) {
        password += all.charAt(Math.floor(Math.random() * all.length));
    }
    passwordInput.value = password;
}

// Toggle password visibility
function showpass() {
    var icon = document.getElementById('showpass');
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        passwordInput.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
};
</script>

{% endblock %}