{% extends "base.html" %}

{% block title %}Admin - Modifier Événement{% endblock %}

{% block content %}
<h1>Événement : {{ event.name_event }}</h1>

<div class="admin-section">
    <h2>Modifier les informations de l'événement</h2>
    <form action="/admin/manage_event/event/{{ event.id_event }}" method="post">
        <label for="name_event">Nom :</label>
        <input type="text" id="name_event" name="name_event" value="{{ event.name_event }}">

        <label for="date_event">Date :</label>
        <input type="date" id="date_event" name="date_event" value="{{ event.date_event }}">

        <button type="submit">Enregistrer</button>

    </form>
</div>

<div class="admin-section">
    <h2>Tags de l'événement</h2>
        <div class="taglist">
        {% for tag in event_tags %}
            <form class="tagform" action="{{ url_for('event.remove_tag_event', id_event=event.id_event) }}" method="post" style="display:inline;">
                <input type="hidden" name="tag" value="{{ tag.id_tag }}">
                <button class="delete remove-tag" type="submit" name="remove_tag">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 0 1 1.414 0L10 8.586l4.293-4.293a1 1 0 1 1 1.414 1.414L11.414 10l4.293 4.293a1 1 0 0 1-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L8.586 10 4.293 5.707a1 1 0 0 1 0-1.414" clip-rule="evenodd"></path></svg>
                {{ tag.name_tag }}
                </button>
            </form>
        {% endfor %}
        </div>
</div>

<div class="admin-section">
    <h2>Ajouter un tag</h2>
    <form action="{{ url_for('event.add_tag_event', id_event=event.id_event) }}" method="post">
        <label for="tag">Tag :</label>
        <select id="tag" name="tag">
            {% for tag in tags %}
            <option value="{{ tag.id_tag }}">{{ tag.name_tag }}</option>
            {% endfor %}
        </select>
        <button type="submit" name="add_tag">Ajouter</button>
    </form>
</div>

<h1>Entretiens lors de l'événement : {{ event.name_event }}</h1>

<div class="admin-section">
    <h2>Liste d'attente</h2>
    <a href="{{ url_for('manage_waitlist.manage_waitlist', id_event=event.id_event) }}">
        <button type="button">Gérer la liste d'attente</button>
    </a>
</div>

<div class="admin-section">
    <h2>Entretiens de l'événement</h2>
    <a href="{{ url_for('event.view_interviews', id_event=event.id_event) }}">
        <button type="button">Voir les entretiens</button>
    </a>
</div>

<div class="admin-section">
    <h2>Supprimer l'événement</h2>
    <form action="/admin/manage_event/event/{{ event.id_event }}/delete" method="post">
        <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet Événement ?');">Supprimer</button>
    </form>
</div>

{% endblock %}