{% extends "base.html" %}

{% block title %}Admin - Modifier Événement{% endblock %}

{% block content %}
<h1 class="title">Événement : {{ event.name_event }}</h1>

<div class="manageinfos">
    <div class="admin-section">
        <h2>Modifier les informations de l'événement</h2>
        <form action="/admin/manage_event/event/{{ event.id_event }}" method="post">
            <label for="name_event">Nom :</label>
            <input type="text" id="name_event" name="name_event" value="{{ event.name_event }}">

            <label for="date_event">Date :</label>
            <input type="date" id="date_event" name="date_event" value="{{ event.date_event }}">

            <label for="start_time_event">Heure de début :</label>
            <input value="{{ event.start_time_event }}" type="time" id="start_time_event" name="start_time_event">

            <label for="end_time_event">Heure de fin :</label>
            <input value="{{ event.end_time_event }}" type="time" id="end_time_event" name="end_time_event">

            <label for="has_timeslots">A crénaux horaires ?</label>
            <input {% if event.has_timeslots %}checked{% endif %} onclick="toggleTimeslots()" id="has_timeslots" class="enabletimeslots" type="checkbox" name="has_timeslots">

            <div id="timeslot-section" class="schedules">
                <h3>Créneaux</h3>
                <div id="timeslot-container">
                <!-- Timeslots will be added here dynamically -->
                </div>
                <button type="button" onclick="addTimeslot()">Ajouter un créneau</button>
            </div>

            <input type="hidden" name="timeslots" id="timeslots" value="">
            <button onclick="addts()" type="submit">Enregistrer</button>

        </form>
    </div>

    <div class="admin-section">
        <h2>Tags de l'événement</h2>
        <div class="taglist">
            {% for tag in event_tags %}
                <form class="tagform" action="{{ url_for('event.remove_tag_event', id_event=event.id_event) }}" method="post" style="display:inline;">
                    <input type="hidden" name="tag" value="{{ tag.id_tag }}">
                    <button class="delete remove-tag" type="submit" name="remove_tag">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 0 1 1.414 0L10 8.586l4.293-4.293a1 1 0 1 1 1.414 1.414L11.414 10l4.293 4.293a1 1 0 0 1-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L8.586 10 4.293 5.707a1 1 0 0 1 0-1.414" clip-rule="evenodd"></path></svg>
                    {{ tag.name_tag }}
                    </button>
                </form>
            {% endfor %}
        </div>
    </div>

    <div class="admin-section">
        <h2>Ajouter un tag</h2>
        <div class="taglist">
            {% for tag in tags %}
                <form class="tagform" action="{{ url_for('event.add_tag_event', id_event=event.id_event) }}" method="post" style="display: inline;">
                    {% if tag.id_tag not in event_tags|map(attribute='id_tag') %}
                    <input type="hidden" name="tag" value="{{ tag.id_tag }}">
                        <button class="add-tag" type="submit" name="add_tag">
                        <svg class="plussvg" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 0 1 1.414 0L10 8.586l4.293-4.293a1 1 0 1 1 1.414 1.414L11.414 10l4.293 4.293a1 1 0 0 1-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L8.586 10 4.293 5.707a1 1 0 0 1 0-1.414" clip-rule="evenodd"></path></svg>
                        {{ tag.name_tag }}
                        </button>
                    {% endif %}
                </form>
            {% endfor %}
        </div>
    </div>
</div>

<h1>Entretiens lors de l'événement : {{ event.name_event }}</h1>

<div class="manageinfos">
    <div class="admin-section">
        <h2>Participants à l'Événement</h2>
        <a href="{{ url_for('event.manage_event_participants', id_event=event.id_event) }}">
            <button type="button">Voir les participants</button>
        </a>
    </div>

    <div class="admin-section">
        <h2>Liste d'attente</h2>
        <a href="{{ url_for('manage_waitlist.manage_waitlist', id_event=event.id_event) }}">
            <button type="button">Gérer la liste d'attente</button>
        </a>
    </div>

    <div class="admin-section">
        <h2>Historique de l'événement</h2>
        <a href="{{ url_for('event.view_interviews', id_event=event.id_event) }}">
            <button type="button">Voir les entretiens</button>
        </a>
    </div>

    <div class="admin-section">
        <h2>Supprimer l'événement</h2>
        <form action="/admin/manage_event/event/{{ event.id_event }}/delete" method="post">
            <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet Événement ?');">Supprimer</button>
        </form>
    </div>
</div>

<script>
let timeslots = {};
let JSid = 0;

function addts(){
    document.querySelectorAll('#timeslot-container > *').forEach((timeslotDiv) => {
        const tempid = timeslotDiv.firstElementChild.id.split('_')[2];
        const tsid = timeslotDiv.querySelector(`#id_timeslot_${tempid}`).value;
        const startInput = timeslotDiv.querySelector(`#start_timeslot_${tempid}`);
        const endInput = timeslotDiv.querySelector(`#end_timeslot_${tempid}`);
        const spotsInput = timeslotDiv.querySelector(`#spots_timeslot_${tempid}`);
        timeslots[tempid] = {start: startInput.value, end: endInput.value, spots: spotsInput.value, id: tsid};
    });
    document.getElementById('timeslots').value = JSON.stringify(timeslots);
}

{# function enableschedules() {
    var enabletimeslots = document.getElementById('has_timeslots');
    var schedules = document.querySelector('.schedules');
    if (enabletimeslots.checked) {
        schedules.style.display = 'flex';
    } else {
        schedules.style.display = 'none';
    }
}

document.addEventListener('DOMContentLoaded', function() {
    enableschedules();
}); #}

function addTimeslot(start=null, end=null, spots=null, tsid=null) {
    timeslots[JSid] = {};
    const timeslotContainer = document.getElementById('timeslot-container');
    const timeslotDiv = document.createElement('div');
    timeslotDiv.classList.add('timeslot'+JSid);

    const idInput = document.createElement('input');
    idInput.value = tsid ? tsid : '';
    idInput.type = 'hidden';
    idInput.id = `id_timeslot_${JSid}`;
    timeslotDiv.appendChild(idInput);

    const startLabel = document.createElement('label');
    startLabel.textContent = 'Heure de début :';
    startLabel.htmlFor = 'start_timeslot';

    const startInput = document.createElement('input');
    startInput.value = start;
    startInput.type = 'time';
    startInput.id = `start_timeslot_${JSid}`;
    startInput.placeholder = 'Début';
    startInput.onchange = () => {
        const endInput = timeslotDiv.querySelector('#end_timeslot');
        if (endInput.value === '' || endInput.value < startInput.value) {
            endInput.value = startInput.value;
        }
        timeslots[JSid] = {start: startInput.value, end: endInput.value, spots: spotsInput.value, id: idInput.value};
    };

    const endLabel = document.createElement('label');
    endLabel.textContent = 'Heure de fin :';
    endLabel.htmlFor = 'end_timeslot';

    const endInput = document.createElement('input');
    endInput.value = end;
    endInput.type = 'time';
    endInput.id = `end_timeslot_${JSid}`;
    endInput.placeholder = 'Fin';
    endInput.onchange = () => {
        const startInput = timeslotDiv.querySelector('#start_timeslot');
        if (startInput.value === '' || endInput.value < startInput.value) {
            startInput.value = endInput.value;
        }
        timeslots[JSid] = {start: startInput.value, end: endInput.value, spots: spotsInput.value, id: idInput.value};
    };

    const spotsLabel = document.createElement('label');
    spotsLabel.textContent = 'Nombre de places :';
    spotsLabel.htmlFor = 'spots_timeslot';

    const spotsInput = document.createElement('input');
    spotsInput.value = spots;
    spotsInput.type = 'number';
    spotsInput.id = `spots_timeslot_${JSid}`;
    spotsInput.onchange = () => {
        const spotsInput = timeslotDiv.querySelector('#spots_timeslot');
        timeslots[JSid] = {start: startInput.value, end: endInput.value, spots: spotsInput.value, id: idInput.value};
    };

    const removeButton = document.createElement('button');
    removeButton.type = 'button';
    removeButton.textContent = 'Supprimer';
    removeButton.classList.add('delete');
    removeButton.onclick = () => {
        delete timeslots[JSid];
        timeslotDiv.remove()
    };

    timeslotDiv.appendChild(startLabel);
    timeslotDiv.appendChild(startInput);
    timeslotDiv.appendChild(endLabel);
    timeslotDiv.appendChild(endInput);
    timeslotDiv.appendChild(spotsLabel);
    timeslotDiv.appendChild(spotsInput);
    timeslotDiv.appendChild(removeButton);

    timeslotContainer.appendChild(timeslotDiv);
    JSid++;
}

function toggleTimeslots() {
    const timeslotSection = document.getElementById('timeslot-section');
    timeslotSection.style.display = document.getElementById('has_timeslots').checked ? 'block' : 'none';
}

document.addEventListener('DOMContentLoaded', function() {
    toggleTimeslots();
    addts();
});

{% for timeslot in event.timeslots %}
addTimeslot('{{ timeslot.start_timeslot }}', '{{ timeslot.end_timeslot }}', '{{ timeslot.nbr_spots_timeslot }}', '{{ timeslot.id_timeslot }}');
{% endfor %}
</script>

{% endblock %}