{% extends "base.html" %}

{% block title %}Admin - Modifier Événement{% endblock %}

{% block content %}
<h1>Événement : {{ event.name_event }}</h1>

<div class="admin-section">
    <h2>Modifier les informations de l'événement</h2>
    <form action="/admin/manage_event/event/{{ event.id_event }}" method="post">
        <label for="date_event">Nom :</label>
        <input type="text" id="name_event" name="name_event" value="{{ event.name_event }}">

        <label for="date_event">Date :</label>
        <input type="date" id="date_event" name="date_event" value="{{ event.date_event }}">

        {# <label for="year_event">Année :</label>
        <input type="text" id="year_event" name="year_event" value="{{ event.year_event if event.year_event else '' }}"> #}

        <button type="submit">Enregistrer</button>
    </form>
</div>

<h1>Entretiens lors de l'événement : {{ event.name_event }}</h1>

<div class="admin-section">
    <h2>Liste d'attente</h2>
    <a href="{{ url_for('manage_waitlist.manage_waitlist', id_event=event.id_event) }}">
        <button type="button">Gérer la liste d'attente</button>
    </a>
</div>

<div class="admin-section">
    <h2>Entretiens de l'événement</h2>
    <a href="{{ url_for('event.view_interviews', id_event=event.id_event) }}">
        <button type="button">Voir les entretiens</button>
    </a>
</div>

<div class="admin-section">
    <h2>Supprimer l'événement</h2>
    <form action="/admin/manage_event/event/{{ event.id_event }}/delete" method="post">
        <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet Événement ?');">Supprimer</button>
    </form>
</div>

{% endblock %}