{% extends "base.html" %}

{% block title %}Entretiens de l'utilisateur{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/feedbackinters.css') }}">
<h1>Entretiens passé</h1>

{% if events %}
    <div class="eventcontainer">
        <div class="cards eventselector">
        {% for event_name, event in events.items() %}
            <a onclick="display('{{ event_name }}')" class="eventname">{{ event_name }}</a>
        {% endfor %}
        </div>
        {% for event_name, event in events.items() %}
            <div id="{{ event_name }}" class="cards event">
                <h2>{{ event.name_event }}</h2>
                {% if event.interviews %}
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Durée de l'entretien</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for interview in event.interviews %}
                        <tr>
                            {% if interview.name_participant %}
                                <td>{{ interview.name_participant }}</td>
                            {% else %}
                                <td>{{ interview.name_candidate }} {{ interview.lastname_candidate }}</td>
                            {% endif %}
                            <td>{% if interview.duration_interview is not none %}{{ interview.duration_interview }}{% else %}&nbsp;{% endif %}</td>
                            <td class="actionbtn">
                                <button type="button" class="edit-feedback" interview-id="{{ interview.id_interview }}">
                                    Editer mon feedback
                                </button>
                                <button type="button" class="feedback-btn" data-feedback-candidate="{{ interview.feedback_candidate }}" data-feedback-participant="{{ interview.feedback_participant }}">
                                    Voir les feedbacks
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Aucun entretien disponible.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Aucun entretien passé.</p>
{% endif %}

<div id="feedbackModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Feedback de l'entretien</h2>
        <p><strong>Feedback de l'intervenant :</strong></p>
        <p id="participantFeedback"></p>
        <p><strong>Feedback du candidat :</strong></p>
        <p id="candidateFeedback"></p>
    </div>
</div>

<div id="editmodel" class="modal">
    <div class="modal-content editfed">
        <span class="close">&times;</span>
        <form action="" method="post">
            <textarea class="feedbackarea" name="feedback" id="feedbackarea" placeholder="Détails du feedback"></textarea>
            <input type="hidden" id="id_interview" name="id_interview" value="">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>

<script>

function display(event_name) {
    console.log(event_name);
    var todisplay = document.getElementById(event_name);
    var events = document.getElementsByClassName('event');
    for (var i = 0; i < events.length; i++) {
        events[i].style.display = 'none';
    }
    todisplay.style.display = 'block';
}

var events = document.getElementsByClassName('event');
if (events.length > 0) {
    events[0].style.display = 'block';
}

var editmodal = document.getElementById('editmodel');

// Get the modal
var modal = document.getElementById("feedbackModal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");

// When the user clicks on the button, open the modal
document.querySelectorAll('.feedback-btn').forEach(button => {
    button.onclick = function() {
        var participantFeedback = this.getAttribute('data-feedback-participant');
        var candidateFeedback = this.getAttribute('data-feedback-candidate');
        document.getElementById('participantFeedback').innerText = participantFeedback;
        document.getElementById('candidateFeedback').innerText = candidateFeedback;
        modal.style.display = "flex";
    }
});

// When user click on the edit feedback button
document.querySelectorAll('.edit-feedback').forEach(button => {
    button.onclick = function() {
        var interviewId = this.getAttribute('interview-id');
        var id_interview = document.getElementById('id_interview');
        id_interview.value = interviewId;
        editmodal.style.display = "flex";
    }
});

// When the user clicks on <span> (x), close the modal
Array.from(span).forEach(element => {
    element.onclick = function() {
        modal.style.display = "none";
        editmodal.style.display = "none";
    }
});

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    if (event.target == editmodal) {
        editmodal.style.display = "none";
    }
}
</script>

{% endblock %}