{% extends "base.html" %}

{% block title %}Hello World{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/liste.css') }}">
{% if not datas.message %}
<h1>LISTE!</h1>
{% else %}
  <h1>{{ datas.message }}</h1>
{% endif %}
<div class="divider"></div>
{% if not datas.message %}
  <table>
    <thead>
      <tr>
        {% for intervenant in datas.intervenants %}
          <th>{{ intervenant.nom_intervenant }}</th>
        {% endfor %}
        <th>Abwaawawa</th>
      </tr>
    </thead>
    <tbody>
      {% for candidat in datas.candidats %}
        <tr>
          <td>{{ candidat.prenom_candidat }} - {{ candidat.nom_candidat }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}