{% extends "base.html" %}

{% block title %}Admin - Gérer Intervenant{% endblock %}

{% block content %}
<h1>Gérer les intervenants</h1>

<div class="admin-section">
    <h2>Liste des intervenants</h2>
    {% if participants %}
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>E-mail</th>
                <th>Tags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <td>{{ participant.name_participant }}</td>
                <td>{{ participant.email_participant }}</td>
                <td><ul>{% for tag in participant.tags %}
                    {% if tag.name_tag %}
                    <li>{{ tag.name_tag }}</li>
                    {% endif %}
                {% endfor %}</ul></td>
                <td>
                    <a href="/admin/manage_participant/participant/{{ participant.id_participant }}">
                        <button type="button">Voir</button>
                    </a>
                    <form action="/admin/manage_participant/{{ participant.id_participant }}/delete" method="post" style="display:inline;">
                        <button class="delete" type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet intervenant ?');">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun intervenant n'existe.</p>
    {% endif %}
</div>

{% endblock %}