{% extends "base.html" %}

{% block title %}Admin - Gérer Candidats{% endblock %}

{% block content %}
<h1>Gérer les candidats</h1>

<div class="admin-section">
    <h2>Liste des candidats</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Tags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
fetch('{{ url_for('api.get_candidates') }}')
    .then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(datas => {
        buildTable(datas);
    })
    .catch(error => {
        popup('danger', 'Une erreur est survenue lors de la récupération des données');
    });
function buildTable(datas) {
    let table = document.querySelector('table tbody');
    table.innerHTML = '';
    datas.forEach(candidate => {
        let tr = document.createElement('tr');
        tr.id = `deleteElement-${candidate.id_candidate}-candidate`;
        tr.innerHTML = `
            <td>${candidate.lastname_candidate}</td>
            <td>${candidate.name_candidate}</td>
            <td>${candidate.email_candidate}</td>
            <td class="taggrid">
                ${candidate.tags.map(tag => tag.name_tag ? `<p class="display-tag">${tag.name_tag}</p>` : '').join('')}
            </td>
            <td class="actionbtn">
                <a href="/admin/manage_candidate/candidate/${candidate.id_candidate}">
                    <button type="button">Voir</button>
                </a>
                <button class="delete" type="submit" onclick="deleteType('candidate', ${candidate.id_candidate})">Supprimer</button>
            </td>
        `;
        table.appendChild(tr);
    });
}
</script>
{% endblock %}