{% extends "base.html" %}

{% block title %}Gérer la liste d'attente{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/manage_waitlist.css') }}">
<h1>Gérer la liste d'attente pour l'événement: {{ event.name_event }}</h1>

<div class="admin-section">
    <h2>Ajouter un candidat à la liste d'attente</h2>
    <form action="{{ url_for('manage_waitlist.manage_waitlist', id_event=event.id_event) }}" method="post">
        <div class="list">
            {% for participant in participants %}
            <div class="column">
                <label class="interv" for="part{{ participant.id_participant }}">{{ participant.name_participant }}</label>
                <select name="{{ participant.id_participant }}" id="{{ participant.id_participant }}" multiple size="{{ candidates|length+1 }}">
                    {% for candidate in candidates %}
                        {% if candidate.id_candidate in existing_interviews[participant.id_participant] %}
                            <option value="{{ candidate.id_candidate }}" selected>{{ candidate.lastname_candidate }} {{ candidate.name_candidate }}</option>
                        {% else %}
                            <option value="{{ candidate.id_candidate }}">{{ candidate.lastname_candidate }} {{ candidate.name_candidate }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
        <button type="submit">Ajouter à la liste d'attente</button>
    </form>
</div>

<script>
let options = [].slice.call(document.querySelectorAll(`option`));
options.forEach(function (element) {
    element.addEventListener("mousedown", 
        function (e) {
            e.preventDefault();
            element.parentElement.focus();
            this.selected = !this.selected;
            return false;
        }, false );
});
</script>

{% endblock %}