{% extends "base.html" %}

{% block title %}Liste{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/liste.css') }}">
  {% if datas.message %}
    <h1>{{ datas.message }}</h1>
  {% else %}
    <h1>{{ datas.title }}</h1>
    <div class="listecontainer">
      {% for dict_item in datas.list %}
            {% for key, value in dict_item.items() %}
                <div class="column">
                    <h2 class="interv">{{ key }}</h2>
                    <div class="candidates">
                    {% for item in value %}
                        {% if loop.index <= 5 %}
                            {% if loop.index == 1 %}
                                <div class="managecandidate current">
                            {% else %}
                                <div class="managecandidate">
                            {% endif %}
                                    <h4>{{ item.name_candidate }} - {{ item.lastname_candidate }}</h4>
                                    <button class="shy">SKIP</button>
                                </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}