{% extends "base.html" %}

{% block title %}Liste{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/list.css') }}">
  {% if datas.message %}
    <h1>{{ datas.message }}</h1>
  {% else %}
    <h1>{{ datas.title }}</h1>
    <div class="listcontainer">
      {% for dict_item in datas.list %}
        {% for key, value in dict_item.items() %}
          <div class="column">
            <h2 class="interv">{{ key }}</h2>
            <div class="candidates">
              {% for item in value %}
                {% if loop.index <= 5 %}
                  {% if loop.index == 1 %}
                    <div class="managecandidate current">
                  {% else %}
                    <div class="managecandidate">
                  {% endif %}
                  <div class="dropdown">
                    <button>{{ item.name_candidate }} {{ item.lastname_candidate }}</button>
                    <div class="dropdown-content">
                      <form action="{{ url_for('list.remove_candidate_from_list', id_interview=item.id_interview) }}" method="post" style="display:inline;">
                        <button type="submit" class="dropdown-item">Supprimer cet entretien</button>
                      </form>
                      <form action="{{ url_for('list.remove_candidate_from_all_interviews_for_event', id_event=datas.event_id, id_candidate=item.id_candidate) }}" method="post" style="display:inline;">
                        <button type="submit" class="dropdown-item">Supprimer tous les entretiens de ce candidat</button>
                      </form>
                    </div></div>
                    <form action="{{ url_for('list.interview_finished', interview_id=item.id_interview) }}" method="post" style="display:inline;">
                      <button type="submit">Entretien terminé</button>
                    </form>
                    <button class="shy">Suivant</button>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const socket = io('/list/live');
            socket.emit('join', { room: `{{ datas.event_id }}` });

            socket.on('message', (data) => {
                console.log(data);
            });
        });
    </script>
  {% endif %}
{% endblock %}