{% extends "base.html" %}

{% block title %}Admin - Gérer Candidats{% endblock %}

{% block content %}
<h1>Gérer Candidats</h1>

<div class="admin-section">
    <h2>Liste des Candidats</h2>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.lastname }}</td>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.email }}</td>
                <td>
                    <a href="/admin/manage_candidate/candidate/{{ candidate.id }}">
                        <button type="button">Voir</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

