{% extends "base.html" %}

{% block title %}Liste{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/list.css') }}">
<h1 id="eventname" class="title"></h1>
<div class="listcontainer"></div>
<script>
let timers = {};

function loadData() {
    fetch('{{ url_for('api.get_list') }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: {{ id }} })
    })
    .then(response => {
        if (!response.ok) {
            popup('danger', 'Une erreur est survenue lors de la récupération des données');
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(datas => {
      buildList(datas).then(() => {
        document.querySelectorAll('.undergoing .candidatebtn').forEach((btn) => {
          btn.click();
        });
      });
    })
    .catch(error => {
        popup('danger', 'Une erreur est survenue lors de la récupération des données');
        console.error('Error:', error);
    });   
}

function buildList(info) {
  document.querySelector('#eventname').textContent = info.name_event;
  const list = document.querySelector('.listcontainer');
  list.innerHTML = '';
  console.log(info);
  for (const [key, value] of Object.entries(info.interviews)) {
    const participant = document.createElement('div');
    participant.classList.add('column');
    participant.id = `participant-${key}`;
    h2 = document.createElement('h2');
    h2.classList.add('interv');
    h2.textContent = key;
    participant.appendChild(h2);
    const candidates = document.createElement('div');
    candidates.classList.add('candidates');
    for (const [keyaa, candidate] of Object.entries(value)) {
      const managecandidate = document.createElement('div');
      managecandidate.classList.add('managecandidate');
      if (keyaa == 0) {
        managecandidate.classList.add('current');
      }
      managecandidate.id = `interview-${candidate.id_interview}`;
      if (candidate.start_time_interview) {
        managecandidate.classList.add('undergoing')
      }

      /* Dropdown */
      const dropdown = document.createElement('div');
      dropdown.classList.add('dropdown');
        const candidatebtn = document.createElement('button');
        candidatebtn.innerHTML = `<i class="shy fa-regular fa-play"></i> ${candidate.name_candidate} ${candidate.lastname_candidate}`;
        candidatebtn.onclick = () => {
          startInterview(candidate);
        }
        candidatebtn.classList.add('candidatebtn');
          const dropdownContent = document.createElement('div');
          dropdownContent.classList.add('dropdown-content');
            const dropbtn1 = document.createElement('button');
            dropbtn1.type = 'submit';
            dropbtn1.classList.add('dropdown-item');
            dropbtn1.textContent = 'Supprimer cet entretien';
            const dropbtn2 = document.createElement('button');
            dropbtn2.type = 'submit';
            dropbtn2.classList.add('dropdown-item');
            dropbtn2.textContent = 'Supprimer tous les entretiens de ce candidat';
            dropdownContent.appendChild(dropbtn1);
            dropdownContent.appendChild(dropbtn2);
        dropdown.appendChild(candidatebtn);
        dropdown.appendChild(dropdownContent);
      managecandidate.appendChild(dropdown);
      /* End Dropdown */

      const nextButton = document.createElement('span');
      nextButton.innerHTML = '<i class="fa-regular fa-arrow-up-arrow-down"></i></i>';
      nextButton.title = 'Passer au candidat suivant';
      nextButton.onclick = (event) => NextCandidate(event, info.id_event, key);
      nextButton.classList.add('nextbtn');
      nextButton.classList.add('clickable');
      nextButton.classList.add('shy');
      managecandidate.appendChild(nextButton);

      const duration = document.createElement('span');
      duration.id = `duration-${candidate.id_interview}`;
      duration.classList.add('duration');
      duration.innerHTML = '<i class="fa-regular fa-stopwatch"></i> 00:00';
      duration.title = 'Durée de l\'interview';
      duration.classList.add('shy');
      managecandidate.appendChild(duration);

      const endInterviewButton = document.createElement('span');
      endInterviewButton.innerHTML = '<i class="fa-regular fa-stop"></i>';
      endInterviewButton.title = 'Fin de l\'interview';
      endInterviewButton.onclick = () => EndInterview(candidate.id_interview);
      endInterviewButton.classList.add('endbtn');
      endInterviewButton.classList.add('clickable');
      endInterviewButton.classList.add('shy');
      managecandidate.appendChild(endInterviewButton);

      candidates.appendChild(managecandidate);
    }
    participant.appendChild(candidates);
    list.appendChild(participant);
  }
  return Promise.resolve();
}

function startInterview(candidate) {
  if (!candidate.start_time_interview) {
    startTime = new Date()
  } else {
    startTime = new Date(Date.parse(candidate.start_time_interview));
  }
  startCountdown(candidate.id_interview, startTime);
  managecandidate = document.querySelector(`#interview-${candidate.id_interview}`)
  managecandidate.classList.add('undergoing');
  candidatebtn = document.querySelector(`#interview-${candidate.id_interview} .candidatebtn`);
  candidatebtn.innerHTML = `<i class="fa-regular fa-stop"></i> ${candidate.name_candidate} ${candidate.lastname_candidate}`;
  candidatebtn.onclick = () => {
    EndInterview(candidate.id_interview);
  }
  if (!candidate.start_time_interview){
    fetch('/api/start_interview', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id_interview: candidate.id_interview, start_time: startTime })
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
          popup('danger', 'Une erreur est survenue lors de la récupération des données');
          const display = document.getElementById(`duration-${candidate.id_interview}`);
          clearInterval(timers[candidate.id_interview]);
          display.innerHTML = '<i class="fa-duotone fa-regular fa-stopwatch"></i> 00:00';
          delete timers[candidate.id_interview];
        }
    })
    .catch(error => {
        console.error('Error:', error);
        popup('danger', 'Une erreur est survenue lors de la récupération des données');
    });
  }
}

function startCountdown(id_interview, startTime) {
    const display = document.getElementById(`duration-${id_interview}`);
    timers[id_interview] = setInterval(() => {
        let now = new Date();
        let elapsed = new Date(now - startTime);
        let minutes = elapsed.getUTCMinutes();
        let seconds = elapsed.getUTCSeconds();
        display.innerHTML = `<i class="fa-duotone fa-regular fa-stopwatch"></i> ${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
    }, 1000);
}

function NextCandidate(event, id_event, participant_name) {
  event.preventDefault();
  fetch('{{ url_for('api.skip_candidate') }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ id_event: id_event, participant_name: participant_name })
  })
  .then(response => {
    if (!response.ok) {
      popup('danger', 'Une erreur est survenue lors de la récupération des données');
      throw new Error('Network response was not ok');
    }
    return response.json();
  })
  .then(datas => {
    const current = document.querySelector(`#participant-${participant_name} .current`);
    current.classList.remove('current');
    const newCurrent = current.parentElement.children[1];
    newCurrent.classList.add('current');
    newCurrent.parentNode.prepend(newCurrent);
  })
  .catch(error => {
    popup('danger', 'Une erreur est survenue lors de la récupération des données');
    console.error('Error:', error);
  });
}

loadData();

</script>
{% endblock %}