<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">
<nav>
    <ul class="navul">
        {% for route, name in custom_route_names.items() %}
        <li class="navli"><a class="navelm" href="{{ route }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
    <ul class="navul">
        {% if session.token %}
        <li class="navli"><a class="navbtn" href="{{ url_for('auth.logout') }}"><button class="authbtn">Se Déconnecter</button></a></li>
        {% else %}
        <li class="navli"><a class="navbtn" href="{{ url_for('auth.login') }}"><button class="authbtn">Se Connecter</button></a></li>
        {% endif %}
    </ul>
</nav>
<div class="divider"></div>