{% extends "base.html" %}

{% block title %}Accueil intervenant{% endblock %}

{% block content %}
<h1 class="title">Bienvenue, {{ participant.name_participant }}</h1>

<div class="section-separator">
    <div class="section profile">
        <h2>Profil</h2>
        <p>Nom : {{ participant.name_participant }}</p>
        <p>Email : {{ participant.email_participant }}</p>
    </div>

    <div class="section-stacker">
        <div class="section">
            <h2>Événements:</h2>
            {% if events %}
            <ul class="eventlist">
                {% for event in events %}
                <li class="eventel"><a><i class="fa-regular fa-arrow-right"></i> {{ event.name_event }} - {{ event.date_event }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Aucun événement trouvé.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}