.admin-section > table > thead > tr > th {
    border-right: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.admin-section > table > tbody > tr > td {
    border-right: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.admin-section > table > tbody > tr > td:last-child, .admin-section > table > thead > tr > th:last-child {
    border-right: none;
}

.admin-section > table > tbody > tr:nth-child(odd) {
    background-color: var(--alt1);
}

.admin-section > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}

.admin-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-color);
    border-radius: 20px;
    margin: 1rem;
}

.admin-section > * {
    color: var(--accent-color);
}

.admin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    padding: 0.2rem 1rem;
}

.admin-container > .admin-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background-color: #2e2456cc;
    backdrop-filter: blur(6px), brightness(60%);
}

.admin-container > .admin-section > h2 {
    text-align: center;
    padding: 0.5rem;
    color: var(--accent-color);
}

.admin-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
    padding: 0.2rem 1rem;
}

.admin-buttons > a > button {
    width: 100%;
}

.admin-section > h2 {
    margin-bottom: 0.5rem;
    color: var(--accent-color);
}

.actionbtn {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding: 0.2rem 1rem;
}

.actionbtn > * > button {
    width: 100%;
    margin: 0;
}

.manageinfos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.manageinfos > .admin-section {
    margin: 16px;
}

.manageinfos > .admin-section > * > button {
    max-width: 100%;
}

.schedules {
    display: none;
    gap: 1rem;
}

.enabletimeslots {
    width: fit-content;
}

.tableContent {
    height: 100%;
    color: var(--accent-color);
    overflow: hidden;
}

.tabmanagment {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tabmanagment label {
    color: var(--accent-color);
}

.sideItemList {
    width: 12vw;
    border-right: 3px solid var(--alt1);
    background-color: #2e2456cc;
}

.itemlist {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 0;
    transition: 0.1s;
    cursor: pointer;
}

.itemlist:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

.infoeditor {
    width: 100%;
    padding: 1.5rem;
    backdrop-filter: brightness(0.6);
}

.listbtn {
    border-radius: 0;
    width: 100%;
    margin-bottom: 2px;
}

.selected {
    border-right: 6px solid var(--accent-color);
    background-color: var(--alt1);
}