.listsection th {
    border-right: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--main-color);
}

.listsection td {
    border-right: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.listsection tr > td:last-child, .listsection tr > th:last-child {
    border-right: none;
}

.listsection tbody > tr:nth-child(odd) {
    background-color: var(--alt1);
}

.listsection tbody {
    overflow: auto;
    height: 1rem;
}

.tablewrap {
    position: relative;
    width:100%;
    z-index: 1;
    overflow: auto;
    max-height: 100%;
}

.listsection table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
}

.listsection {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-color);
    border-radius: 5px;
    flex-grow: 1;
    min-height: 12rem;
}

.admin-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 1rem;
}

.admin-section > * {
    color: var(--accent-color);
}

.admin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 10px;
    padding: 0.2rem 1rem;
}

.admin-container > .admin-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background-color: #2e2456cc;
    backdrop-filter: blur(6px), brightness(60%);
}

.admin-container > .admin-section > h2 {
    text-align: center;
    padding: 0.5rem;
    color: var(--accent-color);
}

.admin-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 10px;
    padding: 0.2rem 1rem;
}

.admin-buttons > a > button {
    width: 100%;
}

.admin-section > h2 {
    margin-bottom: 0.5rem;
    color: var(--accent-color);
}

.btnform {
    flex-direction: row;
}

.actionsinfo > .admin-section > h2 {
    flex-grow: 1;
}

.actionbtn {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding: 0.2rem 1rem;
}

.actionbtn > * > button {
    width: 100%;
    margin: 0;
}

.manageinfos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.manageinfos > .admin-section {
    margin: 16px;
}

.schedules {
    display: none;
    gap: 1rem;
}

.enabletimeslots {
    width: fit-content;
}

.tableContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--accent-color);
}

.tabmanagment {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 0;
}

.tabmanagment label {
    color: var(--accent-color);
}

.sideItemList {
    width: 12vw;
    min-width: 12vw;
    background-color: #2e2456cc;
    overflow: scroll;
}

.resizer {
    background-color: var(--alt1);
    width: 6px;
    cursor: col-resize;
}

.itemlist {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 0;
    transition: 0.1s;
    cursor: pointer;
}

.itemlist:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

.infoeditor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    backdrop-filter: brightness(0.6);
    gap: 1rem;
}

.listbtn {
    border-radius: 0;
    width: 100%;
    margin-bottom: 2px;
}

.selected {
    border-right: 6px solid var(--accent-color);
    background-color: var(--alt1);
}

.sectionmanagetag {
    display: none;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.sectionremovetags, .sectionaddtags {
    width: 50%;
    padding: 1rem 1rem;
    background-color: var(--alt1);
    border-radius: 5px;
    min-height: 6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0.25rem;
    overflow-y: scroll;
}

.sectionremovetags > *, .sectionaddtags > * {
    margin-inline: 0;
}