.eventcontainer {
    display: flex;
}

.cards > table > thead > tr > th {
    border-right: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.cards > table > tbody > tr > td {
    border-right: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.cards > table > tbody > tr > td:last-child, .cards > table > thead > tr > th:last-child {
    border-right: none;
}

.cards > table > tbody > tr:nth-child(even) {
    background-color: #ebebeb;
}

.cards > table > tbody > tr:nth-child(odd) {
    background-color: #fff;
}

.cards > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #ececec;
    border-radius: 20px;
    margin: 1rem;
}

.event {
    display: none;
    width: 100%;
}

.eventselector {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.eventname {
    background-color: #4f4f4f;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
}

.actionbtn > button {
    margin: 5px 0;
    width: 45%;
}

.actionbtn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}