.eventcontainer {
    display: flex;
}

.cards > table > thead > tr > th {
    border-right: 1px solid #4f4f4f;
    border-bottom: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.cards > table > tbody > tr > td {
    border-right: 1px solid #4f4f4f;
    align-items: center;
    text-align: center;
}

.cards > table > tbody > tr > td:last-child, .cards > table > thead > tr > th:last-child {
    border-right: none;
}

.cards > table > tbody > tr:nth-child(even) {
    background-color: #ebebeb;
}

.cards > table > tbody > tr:nth-child(odd) {
    background-color: #fff;
}

.cards > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #ececec;
    border-radius: 20px;
    margin: 1rem;
}