/* tr:nth-child(even), td {
    background-color: #6ab4ff;
}

tr:nth-child(odd), td {
    background-color: #ffb9f2;
} */

.listecontainer {
    display: flex;
}

.interv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #424242;
    color: #fff;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.candidates {
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}