.formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform {
    background-color: #ececec;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: fit-content;
    max-width:calc(100% - 2rem);
    width:26rem
}

.loginform > .iconified-input {
    margin: 0 0 24px 0;
    width: 100%;
}

.loginform > button {
    width: fit-content;
}