.loginform {
    margin: 0 40vw;
    background-color: #ececec;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loginform > .iconified-input {
    margin: 0 0 24px 0;
    width: 100%;
}

.loginform > button {
    width: fit-content;
}