nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navli {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navelm {
    padding: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s;
    color: var(--main-color);
}

.navelm:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
    text-decoration: none;
}

.navbtn {
    margin: 0 0.5rem 0 0;
}

.navbtn > button > svg {
    margin: 0;
}

.navul {
    display: flex;
    align-items: center;
}