nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navli {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navelm {
    padding: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s;
    color: var(--main-color);
}

.navelm:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
    text-decoration: none;
}

.navbtn {
    padding: 0 1rem;
}

.navul {
    display: flex;
    align-items: center;
}

.authbtn {
    margin: 0;
    padding: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    max-width: 100%;
    border-radius: 10px;
    transition: 0.1s;
}